force-app/main/default/flows/Data_Cloud_Create_Account_Contact_Relation_Records_in_NPC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Extract JSON payload into multiple local variables</description>
        <name>apxc_Unified_Individual</name>
        <label>Extract Unified Individual</label>
        <locationX>887</locationX>
        <locationY>564</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NPSP_Affiliation_record_has_NPC_Ids_Populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayloadValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_NPSP_Affiliation_Id__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_Uni_NPC_Account_Id__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_Uni_NPC_Contact_Id__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_AccountContactRoles__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_Start_Date__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;Account_Contact_Copy__dlm_End_Date__c&quot;,&quot;order&quot;:5}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign JSON payload from data action to flow local variable</description>
        <name>assignment_JSON_Payload</name>
        <label>JSON Payload</label>
        <locationX>889</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>text_CurrentPayloadValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Unified_Individual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Run only for AccountContactCopy Data Cloud Data Action</description>
        <name>AccountContactCopy_Data_Action_Check</name>
        <label>AccountContactCopy Data Action Check</label>
        <locationX>877</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AccountContactCopy_Data_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AccountContactCopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_JSON_Payload</targetReference>
            </connector>
            <label>Is AccountContactCopy Data Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountContactRelation_Record_Exists</name>
        <label>AccountContactRelation Record Exists</label>
        <locationX>888</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>Create_AccountContactRelationRecord_in_NPC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_AccountContactRelation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AccountContactRelation_Records</targetReference>
            </connector>
            <label>Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if both NPC Account Id and Contact Id are present on the Account Contact Copy DMO record
value1=NPSP Affiliation Id
value2=NPC Account Id
value3=NPC Contact Id</description>
        <name>NPSP_Affiliation_record_has_NPC_Ids_Populated</name>
        <label>NPSP Affiliation record has NPC Ids Populated</label>
        <locationX>887</locationX>
        <locationY>712</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPC_Account_and_Contact_Ids_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value3</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value1</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Unified_Individual.value3</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Contact_Relation_record_already_exists</targetReference>
            </connector>
            <label>NPC Account and Contact Ids Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_EndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!apxc_Unified_Individual.value6})</expression>
    </formulas>
    <formulas>
        <name>formula_StartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!apxc_Unified_Individual.value5})</expression>
    </formulas>
    <interviewLabel>Data Cloud - Create Account Contact Relation Records in NPC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Create Account Contact Relation Records in NPC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AccountContactRelationRecord_in_NPC</name>
        <label>Create AccountContactRelationRecord in NPC</label>
        <locationX>1088</locationX>
        <locationY>1305</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>apxc_Unified_Individual.value2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>apxc_Unified_Individual.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>formula_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPSP_Salesforce_Id__c</field>
            <value>
                <elementReference>apxc_Unified_Individual.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>apxc_Unified_Individual.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>formula_StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Contact_Relation_record_already_exists</name>
        <label>Account Contact Relation record already exists</label>
        <locationX>896</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountContactRelation_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPSP_Salesforce_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Unified_Individual.value1</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>id_AccountContactRelation</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_AccountContactRelation_Records</name>
        <label>Update AccountContactRelation Records</label>
        <locationX>732</locationX>
        <locationY>1326</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_AccountContactRelation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>formula_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>apxc_Unified_Individual.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>formula_StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <start>
        <locationX>762</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>AccountContactCopy_Data_Action_Check</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>id_AccountContactRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>text_CurrentPayloadValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
