force-app/main/default/flows/dcflow_SS_Registration_DataCloud_Upsert_Records_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Extract_Individuals</name>
        <label>Extract Individuals</label>
        <locationX>2261</locationX>
        <locationY>494</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>apxc_Extract_Individuals_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayloadValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__FirstName__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__LastName__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Original_ID__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Fundraiser_Link_2__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Address__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Campaign_Title__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_1__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_2__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_City__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_County__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Postal_Code__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Number__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_NPC_Contact_Id__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Consent__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Consent__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Post_Consent__c&quot;,&quot;order&quot;:15},{&quot;key&quot;:&quot;value17&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_SMS_Consent__c&quot;,&quot;order&quot;:16},{&quot;key&quot;:&quot;value18&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_WhatsApp_Consent__c&quot;,&quot;order&quot;:17},{&quot;key&quot;:&quot;value19&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Event_Title__c&quot;,&quot;order&quot;:18},{&quot;key&quot;:&quot;value20&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Fundraiser_Link_1__c&quot;,&quot;order&quot;:19}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Individuals_2</name>
        <label>Extract Individuals 2</label>
        <locationX>2261</locationX>
        <locationY>602</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayloadValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__ResidenceCountryId__c&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_ContactPointTypeConsents</name>
        <label>Upsert ContactPointTypeConsents</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>campaign_id</name>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Social Sync Registration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value15</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value16</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value17</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatsapp_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value18</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_Assign_CampaignMember_Collection</name>
        <label>Assign Collection</label>
        <locationX>578</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>collection_CampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordvar_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_CampaignMembers_Fundrasier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_CampaignMember_Collection_0</name>
        <label>Assign Collection</label>
        <locationX>578</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>collection_CampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordvar_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_CampaignMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_CampaignMember_Collection_0_0</name>
        <label>Assign Collection</label>
        <locationX>2162</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>collection_CampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordvar_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_CampaignMembers_Fundrasier_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_CampaignMember_Collection_0_0_0</name>
        <label>Assign Collection</label>
        <locationX>2162</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>collection_CampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordvar_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_CampaignMember_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Fundraiser_Camp_ID</name>
        <label>Assign Fundraiser Camp ID</label>
        <locationX>1370</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>id_FundraiserCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Create_Child_Fundraiser_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_NPC_ID_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Fundraiser_Campaign_ID</name>
        <label>Assign Fundraiser Campaign ID</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>id_FundraiserCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_existing_Fundraiser_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_NPC_ID_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Person_Account_Id</name>
        <label>Assign Person Account Id</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_CampaignMembers.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ur_Update_PersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Person_Account_Id_0</name>
        <label>Assign Person Account Id</label>
        <locationX>1898</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_CampaignMembers_0.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ur_Update_PersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_JSON_Payload</name>
        <label>JSON Payload</label>
        <locationX>2607</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>text_CurrentPayloadValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Source_Data_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cr_Create_CampaignMemberMain</name>
        <label>Create Campaign Member - Main</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Datasource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Supporter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_CampaignMember_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cr_Create_CampaignMemberMain_0</name>
        <label>Create Campaign Member - Main</label>
        <locationX>2162</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Datasource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Supporter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_CampaignMember_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cr_Create_CampaignMembers_Fundrasier</name>
        <label>Create Campaign Member - Fundraiser</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_FundraiserCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Datasource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Supporter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_CampaignMember_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cr_Create_CampaignMembers_Fundrasier_0</name>
        <label>Create Campaign Member - Fundraiser</label>
        <locationX>2162</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_FundraiserCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Datasource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_CampaignMember.Supporter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_CampaignMember_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>deciison_Campaign_Available</name>
        <label>Campaign Available?</label>
        <locationX>1832</locationX>
        <locationY>1034</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Campaign_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_existing_Fundraiser_Campaign</targetReference>
            </connector>
            <label>Campaign Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Member_Exists</name>
        <label>Campaign Member Exists?</label>
        <locationX>446</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PersonAccount_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>outcome_CampaignMember_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_CampaignMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Assign_Person_Account_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Member_Exists_0</name>
        <label>Campaign Member Exists?</label>
        <locationX>2030</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>cr_Create_CampaignMemberMain_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>outcome_CampaignMember_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_CampaignMembers_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Assign_Person_Account_Id_0</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Contact_record_found</name>
        <label>Contact record found</label>
        <locationX>842</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Contact_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PersonAccount_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_CampaignMemberMain</targetReference>
            </connector>
            <label>Contact record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Fundraiser_Campaign_already_exist</name>
        <label>Fundraiser Campaign already exist?</label>
        <locationX>1238</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>cr_Create_Child_Fundraiser_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>outcome_FundraiserCampaignExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_existing_Fundraiser_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Assign_Fundraiser_Campaign_ID</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_ID_null</name>
        <label>NPC ID null?</label>
        <locationX>1238</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>gr_Get_CampaignMembers_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPC ID present</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_NPC_ID_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NPCIdNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_CampaignMembers</targetReference>
            </connector>
            <label>NPC ID null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Outreach_Source_Code_available</name>
        <label>Outreach Source Code available?</label>
        <locationX>2261</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Outreach_Source_Code_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_OutreachSourceCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Campaign</targetReference>
            </connector>
            <label>Source Code available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Postcode_null</name>
        <label>Postcode null?</label>
        <locationX>842</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>cr_Create_PersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Postcode not null</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Postcode_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_PostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_PersonAccount_Postcodenull</targetReference>
            </connector>
            <label>Postcode null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Source_Data_Action</name>
        <label>DMO</label>
        <locationX>2607</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Source_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UnifiedIndividual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_Individuals</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>outcome_Is_SS_Registration</name>
        <label>SS Registration Check</label>
        <locationX>2912</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_SS_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayloadCurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Social_Sync_Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_JSON_Payload</targetReference>
            </connector>
            <label>Is SS Registration</label>
        </rules>
    </decisions>
    <description>Flow to upsert records for Social Sync Registration file</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_CampaignName</name>
        <dataType>String</dataType>
        <expression>{!apxc_Extract_Individuals.value19}+ &quot; (&quot;+{!apxc_Extract_Individuals.value1}+ &quot; &quot;+{!apxc_Extract_Individuals.value2}+&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_CampaignName80</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!formula_CampaignName})&lt;=80,
{!formula_CampaignName},
LEFT({!formula_CampaignName},80)
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(
AND({!formula_EmailAddressRegex}=TRUE, LEN({!apxc_Extract_Individuals.value5})&lt;=80), 
{!apxc_Extract_Individuals.value5}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddressRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!apxc_Extract_Individuals.value5}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualCity</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Individuals.value9})&lt;=40, {!apxc_Extract_Individuals.value9}, LEFT({!apxc_Extract_Individuals.value9}, 40)
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_Individuals.value2}=&quot;&quot;,ISNULL({!apxc_Extract_Individuals.value2})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Individuals.value2}
)</expression>
    </formulas>
    <formulas>
        <name>formula_MailingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
   LEN(TRIM({!apxc_Extract_Individuals.value7})) + LEN(TRIM({!apxc_Extract_Individuals.value8})) = 0, 
&quot;&quot;,
 IF(
   LEN(TRIM({!apxc_Extract_Individuals.value7})) + LEN(TRIM({!apxc_Extract_Individuals.value8})) &lt;= 252,
    IF(
       AND(NOT(ISBLANK({!apxc_Extract_Individuals.value7})), NOT(ISBLANK({!apxc_Extract_Individuals.value8}))), 
        {!apxc_Extract_Individuals.value7} + &quot;, &quot; + {!apxc_Extract_Individuals.value8}, 
             IF(
                NOT(ISBLANK({!apxc_Extract_Individuals.value7})),
               {!apxc_Extract_Individuals.value7},
               {!apxc_Extract_Individuals.value8}
               )
      ),
      LEFT(
            IF(
               AND(NOT(ISBLANK({!apxc_Extract_Individuals.value7})), NOT(ISBLANK({!apxc_Extract_Individuals.value8}))),
               {!apxc_Extract_Individuals.value7} + &quot;, &quot; + {!apxc_Extract_Individuals.value8}, 
               IF(
                  NOT(ISBLANK({!apxc_Extract_Individuals.value7})),
                  {!apxc_Extract_Individuals.value7},
                  {!apxc_Extract_Individuals.value8}
                  )
            ), 
            252
      )
   )
)</expression>
    </formulas>
    <formulas>
        <name>formula_NPCIdNull</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_Individuals.value13}), ISNULL({!apxc_Extract_Individuals.value13}),{!apxc_Extract_Individuals.value13}=&quot;&quot;),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_PhoneCouldNotMigrate</name>
        <dataType>String</dataType>
        <expression>IF(
{!formula_PhoneNumber}=&apos;&apos;, {!apxc_Extract_Individuals.value12}, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_PhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(
OR(LEN({!apxc_Extract_Individuals.value12})=9,LEN({!apxc_Extract_Individuals.value12})=11,LEN({!apxc_Extract_Individuals.value12})=12), {!apxc_Extract_Individuals.value12}, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_PostalCode</name>
        <dataType>String</dataType>
        <expression>IF(
{!formula_PostalCodeRegex}=TRUE,
{!apxc_Extract_Individuals.value11}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_PostalCodeRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!apxc_Extract_Individuals.value11}, &quot;([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\\s?[0-9][A-Za-z]{2})&quot;)</expression>
    </formulas>
    <interviewLabel>Data Cloud - Upsert Records Social Sync Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Upsert Records Social Sync Registration (Unified) v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_CampaignMember</name>
        <label>Create Campaign Member</label>
        <locationX>578</locationX>
        <locationY>3086</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </faultConnector>
        <inputReference>collection_CampaignMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_CampaignMember_0</name>
        <label>Create Campaign Member</label>
        <locationX>2162</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>gr_Get_PersonAccountId_From_NPC_Id</targetReference>
        </connector>
        <inputReference>collection_CampaignMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Child_Fundraiser_Campaigns</name>
        <label>Create Child Fundraiser Campaigns</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>assignment_Assign_Fundraiser_Camp_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!apxc_Extract_Individuals.value4} {!apxc_Extract_Individuals.value20}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Code__c</field>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_CampaignName80</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount</name>
        <label>Create Person Account</label>
        <locationX>1106</locationX>
        <locationY>2198</locationY>
        <assignRecordIdToReference>id_PersonAccount</assignRecordIdToReference>
        <connector>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_2.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_PersonAccount_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_PhoneCouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount_Postcodenull</name>
        <label>Create Person Account - Null postcode</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <assignRecordIdToReference>id_PersonAccount</assignRecordIdToReference>
        <connector>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_2.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_PersonAccount_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_PhoneCouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1832</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deciison_Campaign_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_CampaignMembers</name>
        <label>Get Campaign Members</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Campaign_Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supporter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Datasource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_CampaignMembers_0</name>
        <label>Get Campaign Members</label>
        <locationX>2030</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Campaign_Member_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value13</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_existing_Fundraiser_Campaign</name>
        <label>Get existing Fundraiser Campaign</label>
        <locationX>1238</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Fundraiser_Campaign_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_CampaignName80</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sj_FileSource__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_OutreachSourceCode</name>
        <label>Get Outreach Source Code</label>
        <locationX>2261</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Outreach_Source_Code_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value6</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OutreachSourceCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Contact_Record</name>
        <label>Get Person Account Contact Record</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Contact_record_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>decision_Contact_record_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_RecordType</name>
        <label>Get Person Account Record Type</label>
        <locationX>842</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Postcode_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccountId_From_NPC_Id</name>
        <label>Get PersonAccountId From NPC Id</label>
        <locationX>2162</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ur_Update_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value13</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>id_PersonAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ur_Update_PersonAccount</name>
        <label>Update Person Account</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_2.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_PhoneCouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Social Sync Registration</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2786</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>outcome_Is_SS_Registration</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collection_CampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>id_FundraiserCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordvar_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>text_CurrentPayloadValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
