force-app/main/default/flows/dcflow_UpwardCommsUnified_DataCloud_Upsert_Records_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Consent_Records</name>
        <label>Consent Records</label>
        <locationX>50</locationX>
        <locationY>1842</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value12</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value13</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value15</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Consent_Records_Address</name>
        <label>Consent Records</label>
        <locationX>1792</locationX>
        <locationY>1566</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value12</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_PersonAccount_Address_Matching.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value13</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value15</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Consent_Records_Address_0</name>
        <label>Consent Records</label>
        <locationX>1720</locationX>
        <locationY>2036</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value12</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_PersonAccount_Email_Matching.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value13</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value15</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Consent_Records_Address_0_0</name>
        <label>Consent Records</label>
        <locationX>1295</locationX>
        <locationY>2764</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value12</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_PersonAccount_Phone_Matching.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value13</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value15</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Gift_Transactions</name>
        <label>Extract Gift Transactions Copy</label>
        <locationX>1780</locationX>
        <locationY>759</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>apxc_Extract_Gift_Transactions_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_JSONPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Uni_NPC_Contact_Id__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Donor_First_Name__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Donor_Last_Name__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Email__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_CampaignId__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_File_Source__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_OriginalAmount__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_PaymentIdentifier__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_PaymentMethodId__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Transaction_Date__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_AcknowledgementStatus__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_GiftCommitmentId__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Gift_Type__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_OutreachSourceCodeId__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Registration_ID__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Phone_Number__c&quot;,&quot;order&quot;:15}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Gift_Transactions_Address</name>
        <label>Extract Gift Transactions - Address</label>
        <locationX>2064</locationX>
        <locationY>757</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Data_Source_Check_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_JSONPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Address_Line_1__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Address_Line_2__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_City__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_County__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Postal_Code__c&quot;,&quot;order&quot;:4}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Unified_Individuals</name>
        <label>Extract Unified Individuals</label>
        <locationX>986</locationX>
        <locationY>767</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Data_Source_Check_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_JSONPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__FirstName__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__LastName__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_NPC_Contact_Id__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Original_ID__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_1__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_2__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_City__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_County__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Postal_Code__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Number__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Address__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Consent__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Post_Consent__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Consent__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_SMS_Consent__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Data_Souce__c&quot;,&quot;order&quot;:15}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_Create_Name_for_Donation</name>
        <label>Create Name for Donation</label>
        <locationX>2484</locationX>
        <locationY>1737</locationY>
        <assignmentItems>
            <assignToReference>text_NameForDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anonymous</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Create_Name_for_Donation_AddressMatch</name>
        <label>Create Name for Donation</label>
        <locationX>2677</locationX>
        <locationY>1401</locationY>
        <assignmentItems>
            <assignToReference>text_NameForDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!apxc_Extract_Gift_Transactions.value2} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_Contact_from_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Create_Name_for_Donation_NonAnon</name>
        <label>Create Name for Donation - NonAnon</label>
        <locationX>3129</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>text_NameForDonation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!apxc_Extract_Gift_Transactions.value2} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Person_Account_Id_GT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_JSON_Payload</name>
        <label>JSON Payload</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>text_JSONPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_SourceDMO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Person_Account_Id</name>
        <label>Person Account Id</label>
        <locationX>264</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_From_NPCId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Consent_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Person_Account_Id_GT</name>
        <label>Person Account Id</label>
        <locationX>3130</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_From_NPCId_GT.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Gift_Aid_Y</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Person_Account_Id_GT_Address</name>
        <label>Person Account Id</label>
        <locationX>2919</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PA_from_GT_Matching.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Contact_from_PA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Gift_Aid_Y</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_After_Cutover_Date</name>
        <label>After Cutover Date?</label>
        <locationX>2551</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Before</defaultConnectorLabel>
        <rules>
            <name>Outcome_AfterCutoverDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_GiftTransactionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2023-09-30</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_NPC_Id_Present_GT</targetReference>
            </connector>
            <label>After</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Anonymous_Donor</name>
        <label>Anonymous Donor?</label>
        <locationX>728</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>decision_Postcode_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Anonymous</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Anonymous_Donor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formula_IndividualAnonDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annoymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <label>Individual Anonymous Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Exists</name>
        <label>Campaign Exists?</label>
        <locationX>2488</locationX>
        <locationY>2679</locationY>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftTransaction_1</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Data_Source_Check_1</name>
        <label>Data Source Check UpwardComms</label>
        <locationX>724</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Data_Source_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value16</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UpwardComms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_NPC_Id_Present</targetReference>
            </connector>
            <label>UpwardComms</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Data_Source_Check_2</name>
        <label>Data Source &amp; Amount &gt; 0 Check</label>
        <locationX>2370</locationX>
        <locationY>760</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Data_Source_Check_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value6</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UpwardComms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value7</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value7</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>formula_OriginalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_OriginalAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_After_Cutover_Date</targetReference>
            </connector>
            <label>UpwardComms &amp; Amount &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DuplicateGT</name>
        <label>Duplicate?</label>
        <locationX>2864</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Not existing</defaultConnectorLabel>
        <rules>
            <name>outcome_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Existing_Transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Email_Available</name>
        <label>Email Available?</label>
        <locationX>735</locationX>
        <locationY>1854</locationY>
        <defaultConnector>
            <targetReference>decision_Phone_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable</defaultConnectorLabel>
        <rules>
            <name>outcome_EmailAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value11</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value11</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value11</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_Email_Matching</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Existing_GAD</name>
        <label>Existing GAD?</label>
        <locationX>3122</locationX>
        <locationY>1735</locationY>
        <defaultConnector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing GAD</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Existing_GAD_No_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_GAD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftAidDeclaration</targetReference>
            </connector>
            <label>No GAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Gift_Aid_Y</name>
        <label>Gift Aid = Y?</label>
        <locationX>3122</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gift Aid = N or Blank</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Gift_Aid_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GAD</targetReference>
            </connector>
            <label>Gift Aid = Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Is_Anon_Donor</name>
        <label>Is Anon Donor?</label>
        <locationX>2477</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PA_from_GT_Matching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Anon</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_Anon_Donor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formula_GiftTransactionAnonDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annoymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANON</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Anon_Account</targetReference>
            </connector>
            <label>Is Anon Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_Id_Present</name>
        <label>NPC Id Present</label>
        <locationX>724</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>decision_Anonymous_Donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPC Id Null - Create</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_NPC_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NPCIdNull_Individual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_From_NPCId</targetReference>
            </connector>
            <label>NPC Id Present - Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_Id_Present_GT</name>
        <label>NPC Id Present</label>
        <locationX>2660</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>decision_Is_Anon_Donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPC Id Null</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_NPC_Id_Present_GT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NPCIdNull_GiftTransactions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_From_NPCId_GT</targetReference>
            </connector>
            <label>NPC Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OutreachSourceCode_Exists</name>
        <label>Outreach Source Code Exists?</label>
        <locationX>2489</locationX>
        <locationY>2205</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_OSC_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_OutreachSourceCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftTransaction</targetReference>
            </connector>
            <label>OSC Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OutreachSourceCode_Exists_UponInsert</name>
        <label>Outreach Source Code Exists?</label>
        <locationX>1996</locationX>
        <locationY>3092</locationY>
        <defaultConnector>
            <targetReference>cr_Create_OSC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_OSC_Exists_UponInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_OutreachSourceCode_UponInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>OSC Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PA_Address_Null</name>
        <label>PA Null?</label>
        <locationX>2671</locationX>
        <locationY>1195</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Anon_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_PA_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PA_from_GT_Matching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Create_Name_for_Donation_AddressMatch</targetReference>
            </connector>
            <label>PA Found from Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PA_Found</name>
        <label>PA Found?</label>
        <locationX>1140</locationX>
        <locationY>1849</locationY>
        <defaultConnector>
            <targetReference>decision_Email_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_PA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PersonAccount_Address_Matching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_PersonAccount_Address</targetReference>
            </connector>
            <label>PA Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PA_Found_Email</name>
        <label>PA Found?</label>
        <locationX>1129</locationX>
        <locationY>2289</locationY>
        <defaultConnector>
            <targetReference>decision_Phone_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_PA_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PersonAccount_Email_Matching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_PersonAccount_Email</targetReference>
            </connector>
            <label>PA Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PA_Found_Phone</name>
        <label>PA Found?</label>
        <locationX>732</locationX>
        <locationY>2769</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PersonAccount_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_PA_Found_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PersonAccount_Phone_Matching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_PersonAccount_Phone</targetReference>
            </connector>
            <label>PA Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Phone_Available</name>
        <label>Phone Available?</label>
        <locationX>730</locationX>
        <locationY>2297</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PersonAccount_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable</defaultConnectorLabel>
        <rules>
            <name>outcome_PhoneAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value10</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value10</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_Phone_Matching</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Postcode_Available</name>
        <label>Postcode Available</label>
        <locationX>728</locationX>
        <locationY>1582</locationY>
        <defaultConnector>
            <targetReference>decision_Email_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address unavailable</defaultConnectorLabel>
        <rules>
            <name>outcome_Address_Available_for_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value9</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value9</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_Address_Matching</targetReference>
            </connector>
            <label>Address Available for Matching</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SourceCode_Exists</name>
        <label>SourceCode Exists</label>
        <locationX>2136</locationX>
        <locationY>2832</locationY>
        <defaultConnectorLabel>SourceCode doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_SourceCode_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value14</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value14</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>gr_Get_OutreachSourceCode_UponInsert</targetReference>
            </connector>
            <label>SourceCode Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SourceDMO</name>
        <label>DMO</label>
        <locationX>1363</locationX>
        <locationY>763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_DMO_UnifiedIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UnifiedIndividual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_Unified_Individuals</targetReference>
            </connector>
            <label>Unified Individual DMO</label>
        </rules>
        <rules>
            <name>Outcome_2_of_DMO_GiftTransactionCopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GiftTransactionCopy_DMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_Gift_Transactions</targetReference>
            </connector>
            <label>Gift Transaction Copy DMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_UpwardComms_Check</name>
        <label>UpwardComms Check</label>
        <locationX>1363</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_UpwardComms_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayloadCurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UpwardComms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_JSON_Payload</targetReference>
            </connector>
            <label>Is UpwardComms</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_EmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(
AND(REGEX({!apxc_Extract_Unified_Individuals.value11}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)=TRUE,LEN({!apxc_Extract_Unified_Individuals.value11})&lt;=80), 
{!apxc_Extract_Unified_Individuals.value11},
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Email, Phone, and Address fields are empty, it&apos;s Anonymous</description>
        <name>formula_GiftTransactionAnonDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value4}), ISNULL({!apxc_Extract_Gift_Transactions.value4}),{!apxc_Extract_Gift_Transactions.value4}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value16}), ISNULL({!apxc_Extract_Gift_Transactions.value16}),{!apxc_Extract_Gift_Transactions.value16}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions_Address.value5}), ISNULL({!apxc_Extract_Gift_Transactions_Address.value5}),{!apxc_Extract_Gift_Transactions_Address.value5}=&quot;&quot;)
),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!apxc_Extract_Gift_Transactions.value10})</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_Gift_Transactions.value3}=&quot;&quot;,ISNULL({!apxc_Extract_Gift_Transactions.value3}),ISBLANK({!apxc_Extract_Gift_Transactions.value3})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Gift_Transactions.value3} 
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionPaymentMethod</name>
        <dataType>String</dataType>
        <expression>CASE({!apxc_Extract_Gift_Transactions.value9}, &quot;apple_pay&quot;, &quot;ApplePay&quot;, &quot;card&quot;, &quot;Credit/debit card&quot;,&quot;ee_uk&quot;,&quot;SMS&quot;,&quot;google_pay&quot;,&quot;Google Pay&quot;,&quot;o2_uk&quot;,&quot;SMS&quot;,&quot;sky_uk&quot;,&quot;SMS&quot;,&quot;three_uk&quot;,&quot;SMS&quot;,&quot;virgin_uk&quot;,&quot;SMS&quot;,&quot;vodafone_uk&quot;,&quot;SMS&quot;,&quot;Cash&quot;,&quot;Cash&quot;,&quot;Charity Voucher&quot;,&quot;Charity Voucher&quot;,&quot;Cheque&quot;,&quot;Cheque&quot;,&quot;Credit/ Debit Cards&quot;,&quot;Credit/debit card&quot;,&quot;Direct Debits&quot;,&quot;Direct Debit&quot;,&quot;PayPal&quot;,&quot;PayPal&quot;,&quot;Payroll Giving&quot;,&quot;Payroll Giving&quot;,&quot;Unknown&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionStatus</name>
        <dataType>String</dataType>
        <expression>IF(
AND(NOT(ISBLANK({!apxc_Extract_Gift_Transactions.value10})),NOT(ISNULL({!apxc_Extract_Gift_Transactions.value10})),{!apxc_Extract_Gift_Transactions.value10}!=&apos;&apos;), 
&quot;Paid&quot;, 
&quot;Pending&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_GTPostcode</name>
        <dataType>String</dataType>
        <expression>TRIM({!apxc_Extract_Gift_Transactions_Address.value5})</expression>
    </formulas>
    <formulas>
        <description>If Email, Phone, and Postcode are all empty, then it&apos;s an anonymous donor</description>
        <name>formula_IndividualAnonDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(ISBLANK({!apxc_Extract_Unified_Individuals.value9}), ISNULL({!apxc_Extract_Unified_Individuals.value9}),{!apxc_Extract_Unified_Individuals.value9}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Unified_Individuals.value10}), ISNULL({!apxc_Extract_Unified_Individuals.value10}),{!apxc_Extract_Unified_Individuals.value10}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Unified_Individuals.value11}), ISNULL({!apxc_Extract_Unified_Individuals.value11}),{!apxc_Extract_Unified_Individuals.value11}=&quot;&quot;)
),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualCity</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Unified_Individuals.value7})&lt;=40, 
{!apxc_Extract_Unified_Individuals.value7}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_Unified_Individuals.value2}=&quot;&quot;,ISNULL({!apxc_Extract_Unified_Individuals.value2}),ISBLANK({!apxc_Extract_Unified_Individuals.value2})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Unified_Individuals.value2}
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualMailingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Unified_Individuals.value5})&lt;=252, 
{!apxc_Extract_Unified_Individuals.value5}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualPostalCode</name>
        <dataType>String</dataType>
        <expression>TRIM({!apxc_Extract_Unified_Individuals.value9})</expression>
    </formulas>
    <formulas>
        <name>formula_NPCIdNull_GiftTransactions</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value1}), ISNULL({!apxc_Extract_Gift_Transactions.value1}),{!apxc_Extract_Gift_Transactions.value1}=&quot;&quot;),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_NPCIdNull_Individual</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_Unified_Individuals.value3}), ISNULL({!apxc_Extract_Unified_Individuals.value3}),{!apxc_Extract_Unified_Individuals.value3}=&quot;&quot;),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_OriginalAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!apxc_Extract_Gift_Transactions.value7})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_PhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(
OR(LEN({!apxc_Extract_Unified_Individuals.value10})=9,LEN({!apxc_Extract_Unified_Individuals.value10})=11,LEN({!apxc_Extract_Unified_Individuals.value10})=12), 
{!apxc_Extract_Unified_Individuals.value10}, 
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TodayPlus1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),12)</expression>
    </formulas>
    <interviewLabel>Data Cloud - Upsert Records UpwardComms (Unified) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Upsert Records UpwardComms (Unified) v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_GiftAidDeclaration</name>
        <label>Create Gift Aid Declaration</label>
        <locationX>3166</locationX>
        <locationY>2000</locationY>
        <connector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>gaid__Acquisition_Method__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Contact__c</field>
            <value>
                <elementReference>id_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__End_Date__c</field>
            <value>
                <elementReference>formula_TodayPlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Firstname__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Lastname__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Postalcode__c</field>
            <value>
                <elementReference>gr_Get_PersonAccount_From_NPCId_GT.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Start_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_Filesource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction</name>
        <label>Create Gift Transaction</label>
        <locationX>2150</locationX>
        <locationY>2202</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Id__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Code__c</field>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.Campaign.Finance_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation from {!text_NameForDonation}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutreachSourceCodeId</field>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentIdentifier</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>formula_GiftTransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction_1</name>
        <label>Create Gift Transaction</label>
        <locationX>2161</locationX>
        <locationY>2676</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Id__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Code__c</field>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation from {!text_NameForDonation}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentIdentifier</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>formula_GiftTransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_OSC</name>
        <label>Create OSC</label>
        <locationX>1702</locationX>
        <locationY>3093</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>gr_Get_Campaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCode</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_Filesource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>OutreachSourceCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount</name>
        <label>Create Person Account</label>
        <locationX>49</locationX>
        <locationY>2097</locationY>
        <assignRecordIdToReference>id_PersonAccount</assignRecordIdToReference>
        <connector>
            <targetReference>apxc_Consent_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Consent_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_IndividualMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_PersonAccount_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>gr_Existing_Transaction</name>
        <label>Existing Transaction</label>
        <locationX>2874</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_DuplicateGT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value8</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Anon_Account</name>
        <label>Get Anon Account</label>
        <locationX>2484</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Create_Name_for_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anonymous Donor FY24</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_PersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>2497</locationX>
        <locationY>2521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Campaign_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value5</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Contact_from_PA</name>
        <label>Get Contact from PA</label>
        <locationX>2675</locationX>
        <locationY>1582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Person_Account_Id_GT_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PA_from_GT_Matching.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GAD</name>
        <label>Get GAD</label>
        <locationX>3199</locationX>
        <locationY>1558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Existing_GAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_OutreachSourceCode</name>
        <label>Get Outreach Source Code</label>
        <locationX>2807</locationX>
        <locationY>1985</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_OutreachSourceCode_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value14</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OutreachSourceCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_OutreachSourceCode_UponInsert</name>
        <label>Get Outreach Source Code</label>
        <locationX>2141</locationX>
        <locationY>3089</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value14</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OutreachSourceCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PA_from_GT_Matching</name>
        <label>Get PA - Address Matching</label>
        <locationX>2816</locationX>
        <locationY>1039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PA_Address_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_GiftTransactionLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_GTPostcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Address_Matching</name>
        <label>Get Person Account - Address Matching</label>
        <locationX>1149</locationX>
        <locationY>1581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Email_Matching</name>
        <label>Get Person Account - Email Matching</label>
        <locationX>1137</locationX>
        <locationY>2038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PA_Found_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value11</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_From_NPCId</name>
        <label>Get Person Account From NPC Id</label>
        <locationX>264</locationX>
        <locationY>1050</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ur_Update_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_From_NPCId_GT</name>
        <label>Get Person Account From NPC Id</label>
        <locationX>3131</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Create_Name_for_Donation_NonAnon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Phone_Matching</name>
        <label>Get Person Account - Phone Matching</label>
        <locationX>740</locationX>
        <locationY>2528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PA_Found_Phone</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value10</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_RT</name>
        <label>Get Person Account RT</label>
        <locationX>49</locationX>
        <locationY>2302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ur_Update_PersonAccount</name>
        <label>Update Person Account</label>
        <locationX>264</locationX>
        <locationY>1335</locationY>
        <connector>
            <targetReference>assignment_Person_Account_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_Person_Account_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_From_NPCId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_IndividualMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount_Address</name>
        <label>Update Person Account - Address</label>
        <locationX>1492</locationX>
        <locationY>1567</locationY>
        <connector>
            <targetReference>apxc_Consent_Records_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Consent_Records_Address</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Address_Matching.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_IndividualMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount_Email</name>
        <label>Update Person Account - Email</label>
        <locationX>1433</locationX>
        <locationY>2035</locationY>
        <connector>
            <targetReference>apxc_Consent_Records_Address_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Consent_Records_Address_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Email_Matching.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_IndividualMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount_Phone</name>
        <label>Update Person Account - Phone</label>
        <locationX>1055</locationX>
        <locationY>2763</locationY>
        <connector>
            <targetReference>apxc_Consent_Records_Address_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Consent_Records_Address_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Phone_Matching.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_IndividualCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_IndividualPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_IndividualMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - UpwardComms</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1245</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_UpwardComms_Check</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>id_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text_JSONPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text_NameForDonation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
