force-app/main/default/flows/dcflow_DonrUnified_DataCloud_Upsert_Records_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Extract_GiftTransactionsCopy</name>
        <label>Extract Gift Transactions Copy</label>
        <locationX>1662</locationX>
        <locationY>620</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Data_Source_Check_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_PayloadCurrentValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_PaymentIdentifier__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_GiftTransactionStatus__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_OriginalAmount__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_PaymentMethodId__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Name__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_File_Source__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_TransactionDate__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Frequency__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_CampaignId__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Email__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Postal_Code__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Donor_First_Name__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Donor_Last_Name__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Uni_NPC_Contact_Id__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;GiftTransaction_Copy__dlm_Phone_Number__c&quot;,&quot;order&quot;:14}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Apex Action that deserializes JSON data and outputs into variables</description>
        <name>apxc_Extract_Unified_Individuals</name>
        <label>Extract Unified Individuals</label>
        <locationX>957</locationX>
        <locationY>626</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Data_Source_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_PayloadCurrentValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__FirstName__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__LastName__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Original_ID__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_1__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_2__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_City__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_County__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Postal_Code__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Address__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Opt_In__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Number__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Consent__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Data_Souce__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Consent__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_NPC_Contact_Id__c&quot;,&quot;order&quot;:14}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_ContactPointTypeConsents</name>
        <label>Upsert ContactPointTypeConsents</label>
        <locationX>296</locationX>
        <locationY>2006</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Donr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value12</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>2441</locationX>
        <locationY>3111</locationY>
        <assignmentItems>
            <assignToReference>collection_GiftDefaultDesignation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_GiftDefaultDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_GiftDefaultDesignationsCampaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Add_Record_to_Collection_0</name>
        <label>Add Record to Collection</label>
        <locationX>930</locationX>
        <locationY>1925</locationY>
        <assignmentItems>
            <assignToReference>collection_GiftTransactionDesignation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_GiftTransactionDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_GiftDefaultDesignationsCampaign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Add_Record_to_Collection_0_0</name>
        <label>Add Record to Collection</label>
        <locationX>2624</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>collection_GiftTransactionDesignation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_GiftTransactionDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Campaign_Id</name>
        <label>Assign Campaign Id</label>
        <locationX>2919</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_One_off_or_recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Gift_Default_Designation_Record</name>
        <label>Assign Gift Default Designation Record</label>
        <locationX>2439</locationX>
        <locationY>2885</locationY>
        <assignmentItems>
            <assignToReference>record_GiftDefaultDesignation.AllocatedPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign.AllocatedPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftDefaultDesignation.GiftDesignationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign.GiftDesignationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftDefaultDesignation.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_NewGiftCommitment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_GTD_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_GT</name>
        <label>Assign GT</label>
        <locationX>1695</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>id_GiftTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GT_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Campaign_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_GT_0</name>
        <label>Assign GT</label>
        <locationX>2363</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>id_GiftTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GT_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Campaign_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Person_Account_Id</name>
        <label>Assign Person Account Id</label>
        <locationX>2847</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>id_ExistingPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GTPersonAccount_from_NPCContactId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_existing_GAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_UpdatedPersonAccount_Id</name>
        <label>Assign Person Account Id</label>
        <locationX>87</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_from_NPCContactId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_GiftTransaction</name>
        <label>Gift Transaction</label>
        <locationX>1835</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation from {!apxc_Extract_GiftTransactionsCopy.value12} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AccountIdToUse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_GiftTransaction_0</name>
        <label>Gift Transaction</label>
        <locationX>2908</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation from {!apxc_Extract_GiftTransactionsCopy.value12} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AccountIdToUse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_ExistingGiftCommitment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_GiftTransaction_Recurring</name>
        <label>Gift Transaction</label>
        <locationX>1609</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation from {!apxc_Extract_GiftTransactionsCopy.value12} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.TransactionDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AccountIdToUse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.PaymentIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_NewGiftCommitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Anonymous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_GiftTransactionAnonDonor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.GiftCommitmentScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_NewGiftCommitmentSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordvar_GiftTransaction.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_GTD</name>
        <label>Assign GTD</label>
        <locationX>933</locationX>
        <locationY>2160</locationY>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.Percent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign_0.AllocatedPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.GiftDesignationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign_0.GiftDesignationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Record_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_GTD_0</name>
        <label>Assign GTD</label>
        <locationX>2624</locationX>
        <locationY>2885</locationY>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.Percent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign.AllocatedPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.GiftTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_GiftTransaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_GiftTransactionDesignation.GiftDesignationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_GiftDefaultDesignationsCampaign.GiftDesignationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Add_Record_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_JSON_Payload</name>
        <label>JSON Payload</label>
        <locationX>1328</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>text_PayloadCurrentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_SourceDMO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_After_Cutover_Date</name>
        <label>After Cutover Date?</label>
        <locationX>2078</locationX>
        <locationY>545</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_AfterCutoverDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_GiftTransactionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2022-10-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_NPC_Id_Present</targetReference>
            </connector>
            <label>After</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Anonymous_Donor</name>
        <label>Anonymous Donor?</label>
        <locationX>477</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>gr_GetPersonAccountRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not anonymous</defaultConnectorLabel>
        <rules>
            <name>outcome_Anonymous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IndividualAnonDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Anonymous</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Present</name>
        <label>Campaign Present?</label>
        <locationX>1993</locationX>
        <locationY>2421</locationY>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>outcome_Campaign_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GiftDefaultDesignation</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Present_0</name>
        <label>Campaign Present?</label>
        <locationX>1596</locationX>
        <locationY>1795</locationY>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>outcome_Campaign_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GiftDefaultDesignation_0</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Data_Source_Check</name>
        <label>Data Source Check</label>
        <locationX>495</locationX>
        <locationY>620</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Data_Source_Donr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Unified_Individuals.value13</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Donr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_NPC_Create_or_Update</targetReference>
            </connector>
            <label>Data Source = Donr</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Data_Source_Check_0</name>
        <label>Data Source Check</label>
        <locationX>1897</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Data_Source_Donr_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value6</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Donr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_After_Cutover_Date</targetReference>
            </connector>
            <label>Data Source = Donr</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Donr_Check</name>
        <label>Donr Check</label>
        <locationX>1319</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Not Donr</defaultConnectorLabel>
        <rules>
            <name>outcome_Is_Donr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayloadCurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Donr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_JSON_Payload</targetReference>
            </connector>
            <label>Is Donr</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Existing_GiftCommitment</name>
        <label>Existing Gift Commitment?</label>
        <locationX>2159</locationX>
        <locationY>1960</locationY>
        <defaultConnector>
            <targetReference>cr_Create_GiftCommitment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcome_ExistingCommitmentYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_ExistingGiftCommitment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Due_GiftTransaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Found_PA</name>
        <label>Found PA?</label>
        <locationX>1801</locationX>
        <locationY>1479</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Anon_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found Account - Anon</defaultConnectorLabel>
        <rules>
            <name>outcome_Got_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_ExistingPersonAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Contact_from_AccountId</targetReference>
            </connector>
            <label>Got Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GAD_existing</name>
        <label>GAD existing?</label>
        <locationX>3246</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing GAD</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_GAD_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_existing_GAD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftAidDeclaration</targetReference>
            </connector>
            <label>Not existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GAD_existing_0</name>
        <label>GAD existing?</label>
        <locationX>2415</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing GAD</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_GAD_existing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_existing_GAD_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftAidDeclaration_0</targetReference>
            </connector>
            <label>Not existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GiftDefaultDesignation_Present</name>
        <label>Default Designation Present?</label>
        <locationX>1819</locationX>
        <locationY>2888</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Unrestricted_GiftDesignation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcome_GiftDefaultDesignationYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_GiftDefaultDesignation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_GiftDefaultDesignationsCampaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GiftDefaultDesignation_Present_0</name>
        <label>Default Designation Present?</label>
        <locationX>1159</locationX>
        <locationY>1796</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcome_GiftDefaultDesignationYes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_GiftDefaultDesignation_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_GiftDefaultDesignationsCampaign_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GT_Email_Null</name>
        <label>Email Null?</label>
        <locationX>1986</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PA_via_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>outcome_NullEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value10</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value10</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_GT_Phone_Null</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GT_Phone_Null</name>
        <label>Phone Null?</label>
        <locationX>1799</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PA_via_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>outcome_NullPhone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value15</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value15</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value15</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_GT_Postcode_Null</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GT_Postcode_Null</name>
        <label>Postcode Null?</label>
        <locationX>1622</locationX>
        <locationY>921</locationY>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>outcome_NotNullPostcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value13</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value13</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value13</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value11</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value11</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value11</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PA_via_Postcode</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Is_Anonymous_Donor_or_Awaiting_NPC_ID</name>
        <label>Is Anonymous Donor or Awaiting NPC ID?</label>
        <locationX>2239</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>decision_GT_Email_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not anonymous</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_Anonymous_Donor_or_Awaiting_NPC_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsGTAnonymousDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Anon_Account</targetReference>
            </connector>
            <label>Anonymous Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>475</locationX>
        <locationY>1040</locationY>
        <defaultConnector>
            <targetReference>decision_Anonymous_Donor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>outcome_NPC_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsCreatePersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_PersonAccount_from_NPCContactId</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_Id_Present</name>
        <label>NPC Id Present?</label>
        <locationX>2253</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>decision_Is_Anonymous_Donor_or_Awaiting_NPC_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>outcome_NPC_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_GiftTransNPCIdPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GTPersonAccount_from_NPCContactId</targetReference>
            </connector>
            <label>NPC Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_One_off_or_recurring</name>
        <label>One-off or recurring?</label>
        <locationX>2159</locationX>
        <locationY>1584</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>outcome_One_off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value8</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>one</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_GiftTransaction</targetReference>
            </connector>
            <label>One-off</label>
        </rules>
        <rules>
            <name>outcome_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_GiftTransactionsCopy.value8</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>month</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GiftCommitment</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SourceDMO</name>
        <label>DMO</label>
        <locationX>1319</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_DMO_UnifiedIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UnifiedIndividual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_Unified_Individuals</targetReference>
            </connector>
            <label>Unified Individual</label>
        </rules>
        <rules>
            <name>outcome_DMO_GiftTransactionCopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GiftTransactionCopy_DMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_GiftTransactionsCopy</targetReference>
            </connector>
            <label>Gift Transaction Copy</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_TransactionDuplicate</name>
        <label>Duplicate?</label>
        <locationX>2260</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>Not duplicate</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Existing_GT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Existing_transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Unpaid_GiftTransaction</name>
        <label>Unpaid Gift Transaction?</label>
        <locationX>2835</locationX>
        <locationY>1957</locationY>
        <defaultConnector>
            <targetReference>assignment_GiftTransaction_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>outcome_Unpaid_GiftTransaction_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Due_GiftTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_Due_Transaction_to_Paid</targetReference>
            </connector>
            <label>Gift Transaction Exists</label>
        </rules>
    </decisions>
    <description>Upsert unified Donr records from Data Cloud into NPC</description>
    <environments>Default</environments>
    <formulas>
        <description>If LastName and Email blank, use Anon Donor</description>
        <name>formula_AccountIdToUse</name>
        <dataType>String</dataType>
        <expression>IF(
{!formula_IsGTAnonymousDonor}=TRUE,
{!id_AnonymousDonorAccount},
{!id_ExistingPersonAccount}
)</expression>
    </formulas>
    <formulas>
        <name>formula_DaySubstring</name>
        <dataType>String</dataType>
        <expression>RIGHT(LEFT({!apxc_Extract_GiftTransactionsCopy.value7}, 10),2)</expression>
    </formulas>
    <formulas>
        <name>formula_DaySubstringFinal</name>
        <dataType>String</dataType>
        <expression>IF(
    LEFT({!formula_DaySubstring}, 1) = &apos;0&apos;,
    SUBSTITUTE({!formula_DaySubstring}, &apos;0&apos;, &apos;&apos;),
    {!formula_DaySubstring}
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(
AND({!formula_EmailAddressRegex}=TRUE, LEN({!apxc_Extract_Unified_Individuals.value9})&lt;=80), 
{!apxc_Extract_Unified_Individuals.value9}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddressRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!apxc_Extract_Unified_Individuals.value9}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionAnonDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!formula_AccountIdToUse}={!id_AnonymousDonorAccount},
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionChannel</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!apxc_Extract_GiftTransactionsCopy.value6},&quot;Donr&quot;),&quot;DONR&quot;,&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!apxc_Extract_GiftTransactionsCopy.value7})</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_GiftTransactionsCopy.value13}=&quot;&quot;,ISNULL({!apxc_Extract_GiftTransactionsCopy.value13})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_GiftTransactionsCopy.value13}
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionPaymentMethod</name>
        <dataType>String</dataType>
        <expression>CASE({!apxc_Extract_GiftTransactionsCopy.value4}, &quot;apple_pay&quot;, &quot;ApplePay&quot;, &quot;card&quot;, &quot;Credit/debit card&quot;,&quot;ee_uk&quot;,&quot;SMS&quot;,&quot;google_pay&quot;,&quot;Google Pay&quot;,&quot;o2_uk&quot;,&quot;SMS&quot;,&quot;sky_uk&quot;,&quot;SMS&quot;,&quot;three_uk&quot;,&quot;SMS&quot;,&quot;virgin_uk&quot;,&quot;SMS&quot;,&quot;vodafone_uk&quot;,&quot;SMS&quot;,&quot;Cash&quot;,&quot;Cash&quot;,&quot;Charity Voucher&quot;,&quot;Charity Voucher&quot;,&quot;Cheque&quot;,&quot;Cheque&quot;,&quot;Credit/ Debit Cards&quot;,&quot;Credit/debit card&quot;,&quot;Direct Debits&quot;,&quot;Direct Debit&quot;,&quot;PayPal&quot;,&quot;PayPal&quot;,&quot;Payroll Giving&quot;,&quot;Payroll Giving&quot;,&quot;Unknown&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionStatus</name>
        <dataType>String</dataType>
        <expression>IF(AND({!apxc_Extract_GiftTransactionsCopy.value2}=&quot;successful&quot;,{!apxc_Extract_GiftTransactionsCopy.value7}!=&apos;&apos;), &quot;Paid&quot;, IF(AND({!apxc_Extract_GiftTransactionsCopy.value2}=&quot;successful&quot;,{!apxc_Extract_GiftTransactionsCopy.value7}=&apos;&apos;), &quot;Pending&quot;, &quot;Failed&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransactionUniqueId</name>
        <dataType>String</dataType>
        <expression>IF(
AND(ISNULL({!apxc_Extract_GiftTransactionsCopy.value12}),ISNULL({!apxc_Extract_GiftTransactionsCopy.value13})),
&quot;&quot;,
{!apxc_Extract_GiftTransactionsCopy.value12}+{!apxc_Extract_GiftTransactionsCopy.value13}+{!apxc_Extract_GiftTransactionsCopy.value11}+{!apxc_Extract_GiftTransactionsCopy.value10}
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftTransNPCIdPresent</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_GiftTransactionsCopy.value14}), ISNULL({!apxc_Extract_GiftTransactionsCopy.value14}),{!apxc_Extract_GiftTransactionsCopy.value14}=&quot;&quot;),
FALSE,
TRUE
)</expression>
    </formulas>
    <formulas>
        <description>If First Name, Last Name, Email Address, Postcode, and Phone Number are empty, the donor is anonymous</description>
        <name>formula_IndividualAnonDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
ISBLANK({!apxc_Extract_Unified_Individuals.value1}),ISBLANK({!apxc_Extract_Unified_Individuals.value2}),ISBLANK({!apxc_Extract_Unified_Individuals.value9}),ISBLANK({!apxc_Extract_Unified_Individuals.value11}),ISBLANK({!apxc_Extract_Unified_Individuals.value8})
),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_Unified_Individuals.value2}=&quot;&quot;,ISNULL({!apxc_Extract_Unified_Individuals.value2})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Unified_Individuals.value2}
)</expression>
    </formulas>
    <formulas>
        <description>If PhoneNumber field is length 9, 11, or 12, use this value, else ignore</description>
        <name>formula_IndividualPhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(
OR(LEN({!apxc_Extract_Unified_Individuals.value11})=9,LEN({!apxc_Extract_Unified_Individuals.value11})=11,LEN({!apxc_Extract_Unified_Individuals.value11})=12), {!apxc_Extract_Unified_Individuals.value11}, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_IndividualUniqueId</name>
        <dataType>String</dataType>
        <expression>{!apxc_Extract_Unified_Individuals.value1}+{!apxc_Extract_Unified_Individuals.value2}+{!apxc_Extract_Unified_Individuals.value8}+{!apxc_Extract_Unified_Individuals.value9}</expression>
    </formulas>
    <formulas>
        <name>formula_IsCreatePersonAccount</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_Unified_Individuals.value15}), ISNULL({!apxc_Extract_Unified_Individuals.value15}),{!apxc_Extract_Unified_Individuals.value15}=&quot;&quot;),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <description>Last Name + Email + Phone + Postcode is empty, it&apos;s Anonymous</description>
        <name>formula_IsGTAnonymousDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(ISBLANK({!apxc_Extract_GiftTransactionsCopy.value10}), ISNULL({!apxc_Extract_GiftTransactionsCopy.value10}),{!apxc_Extract_GiftTransactionsCopy.value10}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_GiftTransactionsCopy.value13}), ISNULL({!apxc_Extract_GiftTransactionsCopy.value13}),{!apxc_Extract_GiftTransactionsCopy.value13}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_GiftTransactionsCopy.value15}), ISNULL({!apxc_Extract_GiftTransactionsCopy.value15}),{!apxc_Extract_GiftTransactionsCopy.value15}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_GiftTransactionsCopy.value16}), ISNULL({!apxc_Extract_GiftTransactionsCopy.value16}),{!apxc_Extract_GiftTransactionsCopy.value16}=&quot;&quot;)
),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_MailingCity</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Unified_Individuals.value6})&lt;=40, 
{!apxc_Extract_Unified_Individuals.value6}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_MailingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(
REGEX({!apxc_Extract_Unified_Individuals.value8}, &quot;([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\\s?[0-9][A-Za-z]{2})&quot;)=TRUE,
{!apxc_Extract_Unified_Individuals.value8},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_MailingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Unified_Individuals.value4})+LEN({!apxc_Extract_Unified_Individuals.value5})&lt;=252, {!apxc_Extract_Unified_Individuals.value4} + &quot; &quot; + {!apxc_Extract_Unified_Individuals.value5}, &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_OriginalAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!apxc_Extract_GiftTransactionsCopy.value3})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TodayMinus3</name>
        <dataType>Date</dataType>
        <expression>TODAY()-3</expression>
    </formulas>
    <formulas>
        <name>formula_TodayPlus1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),12)</expression>
    </formulas>
    <formulas>
        <name>formula_TodayPlus3</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>formula_UnableToMigrate</name>
        <dataType>String</dataType>
        <expression>IF(
AND({!formula_IndividualPhoneNumber}=&apos;&apos;,{!formula_EmailAddress}=&apos;&apos;),
&quot;Phone number: &quot; + {!apxc_Extract_Unified_Individuals.value11} + &quot; Email address: &quot; + {!apxc_Extract_Unified_Individuals.value9}, 
&apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Data Cloud - Upsert Records Donr (Unified) v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Upsert Records Donr (Unified) v2</label>
    <loops>
        <name>loop_GiftDefaultDesignationsCampaign</name>
        <label>Loop Gift Default Designations of Campaign</label>
        <locationX>2119</locationX>
        <locationY>2883</locationY>
        <collectionReference>gr_Get_GiftDefaultDesignation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_Assign_Gift_Default_Designation_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>cr_Create_Gift_Transaction_Designation_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_GiftDefaultDesignationsCampaign_0</name>
        <label>Loop Gift Default Designations of Campaign</label>
        <locationX>1167</locationX>
        <locationY>2049</locationY>
        <collectionReference>gr_Get_GiftDefaultDesignation_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_GTD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>cr_Create_Gift_Transaction_Designation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_CommitmentSchedule</name>
        <label>Create Commitment Schedule</label>
        <locationX>1833</locationX>
        <locationY>2186</locationY>
        <assignRecordIdToReference>id_NewGiftCommitmentSchedule</assignRecordIdToReference>
        <connector>
            <targetReference>assignment_GiftTransaction_Recurring</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_GiftTransaction_Recurring</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftCommitmentId</field>
            <value>
                <elementReference>id_NewGiftCommitment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>formula_GiftTransactionPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionAmount</field>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDay</field>
            <value>
                <elementReference>formula_DaySubstringFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionInterval</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionPeriod</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_Filesource__c</field>
            <value>
                <stringValue>Data Cloud - Donr</stringValue>
            </value>
        </inputAssignments>
        <object>GiftCommitmentSchedule</object>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_DefaultDesignation_on_Commitment</name>
        <label>Create Default Designation on Commitment</label>
        <locationX>2044</locationX>
        <locationY>3151</locationY>
        <inputReference>collection_GiftDefaultDesignation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Gift_Transaction_Designation</name>
        <label>Create Gift Transaction Designation</label>
        <locationX>1167</locationX>
        <locationY>2327</locationY>
        <inputReference>collection_GiftTransactionDesignation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Gift_Transaction_Designation_0</name>
        <label>Create Gift Transaction Designation</label>
        <locationX>2120</locationX>
        <locationY>3397</locationY>
        <inputReference>collection_GiftTransactionDesignation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftAidDeclaration</name>
        <label>Create Gift Aid Declaration</label>
        <locationX>2810</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>gr_Get_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>gaid__Acquisition_Method__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Contact__c</field>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__End_Date__c</field>
            <value>
                <elementReference>formula_TodayPlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Firstname__c</field>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Lastname__c</field>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Postalcode__c</field>
            <value>
                <elementReference>gr_Get_GTPersonAccount_from_NPCContactId.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Start_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftAidDeclaration_0</name>
        <label>Create Gift Aid Declaration</label>
        <locationX>2419</locationX>
        <locationY>1099</locationY>
        <connector>
            <targetReference>gr_Get_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>gaid__Acquisition_Method__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Contact__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_AccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__End_Date__c</field>
            <value>
                <elementReference>formula_TodayPlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Firstname__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_AccountId.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Lastname__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_AccountId.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Postalcode__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_AccountId.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Start_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftCommitment</name>
        <label>Create Gift Commitment</label>
        <locationX>1824</locationX>
        <locationY>1960</locationY>
        <assignRecordIdToReference>id_NewGiftCommitment</assignRecordIdToReference>
        <connector>
            <targetReference>cr_Create_CommitmentSchedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>cr_Create_CommitmentSchedule</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>formula_GiftTransactionChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>formula_AccountIdToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>formula_GiftTransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedTotalCmtAmount</field>
            <value>
                <elementReference>formula_OriginalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Commitment from {!apxc_Extract_GiftTransactionsCopy.value12} {!formula_GiftTransactionLastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleType</field>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>GiftCommitment</object>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction</name>
        <label>Create Gift Transaction</label>
        <locationX>1603</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>gr_Get_GT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_GT</targetReference>
        </faultConnector>
        <inputReference>recordvar_GiftTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction_0</name>
        <label>Create Gift Transaction</label>
        <locationX>2836</locationX>
        <locationY>2658</locationY>
        <connector>
            <targetReference>gr_Get_GT_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_GT_0_0</targetReference>
        </faultConnector>
        <inputReference>recordvar_GiftTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction_Recurring</name>
        <label>Create Gift Transaction</label>
        <locationX>1604</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>gr_Get_GT_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_GT_0</targetReference>
        </faultConnector>
        <inputReference>recordvar_GiftTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount</name>
        <label>Create Person Account</label>
        <locationX>488</locationX>
        <locationY>1743</locationY>
        <assignRecordIdToReference>id_PersonAccount</assignRecordIdToReference>
        <connector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_IndividualPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>id_PersonAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_UnableToMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Donr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Donr</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Unrestricted_DefaultDesignation_on_Commitment</name>
        <label>Create Unrestricted Default Designation on Commitment</label>
        <locationX>1824</locationX>
        <locationY>3409</locationY>
        <inputAssignments>
            <field>AllocatedPercentage</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftDesignationId</field>
            <value>
                <elementReference>id_UnrestrictedDesignation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>id_NewGiftCommitment</elementReference>
            </value>
        </inputAssignments>
        <object>GiftDefaultDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Existing_transaction</name>
        <label>Existing transaction</label>
        <locationX>1906</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_TransactionDuplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Anon_Account</name>
        <label>Get Anon Account</label>
        <locationX>2476</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anonymous Donor FY24</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_AnonymousDonorAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Anon_Account_0</name>
        <label>Get Anon Account</label>
        <locationX>2256</locationX>
        <locationY>1483</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anonymous Donor FY24</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_ExistingPersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>3017</locationX>
        <locationY>1229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_Campaign_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value9</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Contact_from_AccountId</name>
        <label>Get Contact from AccountId</label>
        <locationX>2092</locationX>
        <locationY>1315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_existing_GAD_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_ExistingPersonAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Due_GiftTransaction</name>
        <label>Get Due Gift Transaction</label>
        <locationX>2525</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Unpaid_GiftTransaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionDueDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formula_TodayMinus3</elementReference>
            </value>
        </filters>
        <filters>
            <field>TransactionDueDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>formula_TodayPlus3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </filters>
        <filters>
            <field>GiftCommitmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_ExistingGiftCommitment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_existing_GAD</name>
        <label>Get existing GAD</label>
        <locationX>2847</locationX>
        <locationY>797</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_GAD_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value14</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_existing_GAD_0</name>
        <label>Get existing GAD</label>
        <locationX>2251</locationX>
        <locationY>1316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_GAD_existing_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Contact_from_AccountId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GiftCommitment</name>
        <label>Get Gift Commitment</label>
        <locationX>2167</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Existing_GiftCommitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DonorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_AccountIdToUse</elementReference>
            </value>
        </filters>
        <object>GiftCommitment</object>
        <outputAssignments>
            <assignToReference>id_ExistingGiftCommitment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GiftDefaultDesignation</name>
        <label>Get Gift Default Designation</label>
        <locationX>1828</locationX>
        <locationY>2667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_GiftDefaultDesignation_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftDefaultDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GiftDefaultDesignation_0</name>
        <label>Get Gift Default Designation</label>
        <locationX>1379</locationX>
        <locationY>1793</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_GiftDefaultDesignation_Present_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GiftDefaultDesignation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GT</name>
        <label>Get GT</label>
        <locationX>1731</locationX>
        <locationY>1746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Campaign_Present_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GT_0</name>
        <label>Get GT</label>
        <locationX>1607</locationX>
        <locationY>2560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_GT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GT_0_0</name>
        <label>Get GT</label>
        <locationX>2590</locationX>
        <locationY>2662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_GT_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GTPersonAccount_from_NPCContactId</name>
        <label>Get Person Account from NPC Contact Id</label>
        <locationX>2656</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_Person_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value14</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PA_via_Email</name>
        <label>Get PA via Email</label>
        <locationX>1997</locationX>
        <locationY>1159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Found_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value10</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_ExistingPersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PA_via_Phone</name>
        <label>Get PA via Phone</label>
        <locationX>1814</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Found_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value15</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_ExistingPersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PA_via_Postcode</name>
        <label>Get PA via Postcode</label>
        <locationX>1626</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Found_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value13</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_GiftTransactionsCopy.value11</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_ExistingPersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_from_NPCContactId</name>
        <label>Get Person Account from NPC Contact Id</label>
        <locationX>86</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ur_Update_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value15</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Unrestricted_GiftDesignation</name>
        <label>Get Unrestricted Gift Designation</label>
        <locationX>1828</locationX>
        <locationY>3142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_Unrestricted_DefaultDesignation_on_Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unrestricted</stringValue>
            </value>
        </filters>
        <object>GiftDesignation</object>
        <outputAssignments>
            <assignToReference>id_UnrestrictedDesignation</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_GetPersonAccountRT</name>
        <label>Get Person Account Record Type</label>
        <locationX>488</locationX>
        <locationY>1520</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>id_PersonAccountRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ur_Update_Due_Transaction_to_Paid</name>
        <label>Update Due Transaction to Paid</label>
        <locationX>3201</locationX>
        <locationY>1960</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Due_GiftTransaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount</name>
        <label>Update Person Account</label>
        <locationX>86</locationX>
        <locationY>1246</locationY>
        <connector>
            <targetReference>assignment_Assign_UpdatedPersonAccount_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_Assign_UpdatedPersonAccount_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_from_NPCContactId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_IndividualLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>formula_MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Unified_Individuals.value7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>formula_MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_IndividualPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_UnableToMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Donr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Donr</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1202</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>decision_Donr_Check</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collection_GiftDefaultDesignation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftDefaultDesignation</objectType>
    </variables>
    <variables>
        <name>collection_GiftTransactionDesignation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>id_AnonymousDonorAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_ExistingGiftCommitment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_ExistingPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_FinanceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_GiftTransaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_NewGiftCommitment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_NewGiftCommitmentSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_UnrestrictedDesignation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_GiftDefaultDesignation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftDefaultDesignation</objectType>
    </variables>
    <variables>
        <name>record_GiftTransactionDesignation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransactionDesignation</objectType>
    </variables>
    <variables>
        <name>recordvar_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordvar_GiftCommitment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitment</objectType>
    </variables>
    <variables>
        <name>recordvar_GiftTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>recordvar_PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>JSON payload from Data Cloud</description>
        <name>text_PayloadCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
