force-app/main/default/flows/dcflow_SS_Transaction_DataCloud_Upsert_Records_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Extract_Gift_Transactions</name>
        <label>Extract Gift Transactions</label>
        <locationX>1167</locationX>
        <locationY>922</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>apxc_Extract_Gift_Transactions_GiftAid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentJsonPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Donor_First_Name__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Donor_Last_Name__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__PaymentIdentifier__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__CampaignId__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__DonorId__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Email__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Fundraiser_Supporter_ID__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__OriginalAmount__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Registration_ID__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Supporter_ID__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__TransactionDate__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_ssot__PaymentMethodId__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Fundraiser_First_Name__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Fundraiser_Last_Name__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Email_Consent__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Phone_Consent__c&quot;,&quot;order&quot;:15},{&quot;key&quot;:&quot;value17&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Post_Consent__c&quot;,&quot;order&quot;:16},{&quot;key&quot;:&quot;value18&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_SMS_Consent__c&quot;,&quot;order&quot;:17},{&quot;key&quot;:&quot;value19&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_WhatsApp_Consent__c&quot;,&quot;order&quot;:18},{&quot;key&quot;:&quot;value20&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_NPC_Contact_Id__c&quot;,&quot;order&quot;:19}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Gift_Transactions_GiftAid</name>
        <label>Extract Gift Transactions - GiftAid &amp; Address</label>
        <locationX>1362</locationX>
        <locationY>922</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Amount_greater_than_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentJsonPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_GiftAid__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_GiftAidAmount__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Phone_Number__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Address_Line_1__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Address_Line_2__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_City__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_County__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Country__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;ssot__GiftTransaction__dlm_Postal_Code__c&quot;,&quot;order&quot;:8}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_CCRs</name>
        <label>Upsert CCRs</label>
        <locationX>1283</locationX>
        <locationY>3547</locationY>
        <actionName>DataCloudUpsertRecords</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>ContactContactRelation</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>record_ContactContactRelation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudUpsertRecords</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_ContactPointTypeConsents</name>
        <label>Upsert ContactPointTypeConsents</label>
        <locationX>1074</locationX>
        <locationY>2578</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>gr_Get_PersonAccount_Organiser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_PersonAccount_Organiser</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Social Sync Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value15</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value16</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value17</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value18</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatsapp_consent</name>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value19</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_AccountDetails</name>
        <label>Get Account Details</label>
        <locationX>819</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GiftTransaction_from_DonorId.DonorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonPostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GiftTransaction_from_DonorId.Donor.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GiftTransaction_from_DonorId.Donor.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_GiftTransaction_from_DonorId.Donor.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_Campaign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_AccountDetails_0</name>
        <label>Get Account Details</label>
        <locationX>202</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Create_PersonAccount_Donor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DonorLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_AccountId</name>
        <label>Get Account Id</label>
        <locationX>1315</locationX>
        <locationY>2059</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Account_ID_From_NPC_ID.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonPostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Account_ID_From_NPC_ID.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Account_ID_From_NPC_ID.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Account_ID_From_NPC_ID.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_Get_Campaign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_GSC_Recipient_0</name>
        <label>Assign GSC Recipient</label>
        <locationX>272</locationX>
        <locationY>3069</locationY>
        <assignmentItems>
            <assignToReference>id_GiftSoftCreditRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Organiser.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftSoftCredit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_GSC_Recipient_and_Organiser</name>
        <label>Assign GSC Recipient and Organiser</label>
        <locationX>710</locationX>
        <locationY>3068</locationY>
        <assignmentItems>
            <assignToReference>id_GiftSoftCreditRecipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Create_PersonAccount_Fundraiser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_OrganiserContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftSoftCredit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_ids</name>
        <label>Assign ids</label>
        <locationX>312</locationX>
        <locationY>1986</locationY>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_FinanceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_IncomeStream</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_ids_0</name>
        <label>Assign ids</label>
        <locationX>702</locationX>
        <locationY>1990</locationY>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_FinanceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign_0.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_IncomeStream</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign_0.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Assign_Participant_Contact</name>
        <label>Assign Participant Contact</label>
        <locationX>500</locationX>
        <locationY>3543</locationY>
        <assignmentItems>
            <assignToReference>id_ParticipantContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Contact_from_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Is_Participant_and_Organiser_the_same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Create_CCR</name>
        <label>Create Participant-Organiser CCR</label>
        <locationX>1037</locationX>
        <locationY>3547</locationY>
        <assignmentItems>
            <assignToReference>record_ContactContactRelation.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_ParticipantContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_ContactContactRelation.RelatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_OrganiserContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_ContactContactRelation.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Upsert_CCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Get_Ids</name>
        <label>Get Ids</label>
        <locationX>506</locationX>
        <locationY>1728</locationY>
        <assignmentItems>
            <assignToReference>id_PersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_ParticipantContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_FinanceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Campaign.Finance_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonPostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Contact.Account.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>text_PersonLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_IncomeStream</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Donor_from_CampaignMember.Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_Create_GiftTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Get_OrganiserContact_Id</name>
        <label>Get Organiser Contact Id</label>
        <locationX>135</locationX>
        <locationY>2908</locationY>
        <assignmentItems>
            <assignToReference>id_OrganiserContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_PersonAccount_Organiser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_Assign_GSC_Recipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_JSON_Payload</name>
        <label>JSON Payload</label>
        <locationX>1170</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>text_CurrentJsonPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Source_Data_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Amount_greater_than_0</name>
        <label>Amount greater than 0?</label>
        <locationX>1156</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Amount_Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TransactionAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Anonymous_Donor</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Anonymous_Donor</name>
        <label>Anonymous Donor?</label>
        <locationX>1547</locationX>
        <locationY>1283</locationY>
        <defaultConnector>
            <targetReference>decision_NPC_ID_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not anonymous</defaultConnectorLabel>
        <rules>
            <name>outcome_AnonymousDonor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsAnonymousDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions.value2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Anon_Account</targetReference>
            </connector>
            <label>Anonymous donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Present</name>
        <label>Campaign Present?</label>
        <locationX>885</locationX>
        <locationY>2771</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_CampaignPresentYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Person_Account_RT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Donor_from_CampaignMember_found</name>
        <label>Donor from Campaign Member found?</label>
        <locationX>501</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PersonAccount_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>outcome_CampaignMember_Donor_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Donor_from_CampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Get_Ids</targetReference>
            </connector>
            <label>Donor found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DuplicateTransaction</name>
        <label>Duplicate?</label>
        <locationX>1782</locationX>
        <locationY>1108</locationY>
        <defaultConnectorLabel>Not duplicate</defaultConnectorLabel>
        <rules>
            <name>outcome_Duplicate_transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Existing_Transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Existing_GAD</name>
        <label>Existing GAD?</label>
        <locationX>22</locationX>
        <locationY>2705</locationY>
        <defaultConnector>
            <targetReference>decision_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing GAD</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Existing_GAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Existing_GAD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GiftAidDeclaration</targetReference>
            </connector>
            <label>No GAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Gift_Aid</name>
        <label>Gift Aid?</label>
        <locationX>342</locationX>
        <locationY>2376</locationY>
        <defaultConnector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>outcome_GiftAid_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Gift_Transactions_GiftAid.value1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GiftAid_RT</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_GiftTransaction_with_Donor_found</name>
        <label>Gift Transaction with Donor found?</label>
        <locationX>1038</locationX>
        <locationY>1832</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Donor_from_CampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GT Donor not found</defaultConnectorLabel>
        <rules>
            <name>outcome_GiftTransaction_Donor_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_GiftTransaction_from_DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_AccountDetails</targetReference>
            </connector>
            <label>GT Donor found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Income_Stream_null</name>
        <label>Income Stream null?</label>
        <locationX>586</locationX>
        <locationY>1887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Income_Stream_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_IncomeStream</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_IncomeStream</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_IncomeStream</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Is_Participant_and_Organiser_the_same</name>
        <label>Is Participant and Organiser the same?</label>
        <locationX>760</locationX>
        <locationY>3548</locationY>
        <defaultConnectorLabel>The same</defaultConnectorLabel>
        <rules>
            <name>outcome_OrganiserParticipant_Not_the_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_ParticipantContact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>id_OrganiserContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_ParticipantContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_OrganiserContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Create_CCR</targetReference>
            </connector>
            <label>Not the same</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Is_SS_Transaction</name>
        <label>Is SS Transaction</label>
        <locationX>1161</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Is_Transaction_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayloadCurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Social_Sync_Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_JSON_Payload</targetReference>
            </connector>
            <label>Is Transaction File</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NPC_ID_null</name>
        <label>NPC ID null?</label>
        <locationX>1300</locationX>
        <locationY>1436</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Account_ID_From_NPC_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPC ID present</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_NPC_ID_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_NPCIdNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_GiftTransaction_from_DonorId</targetReference>
            </connector>
            <label>NPC ID null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Organiser_found</name>
        <label>Organiser found?</label>
        <locationX>493</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>decision_Campaign_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>outcome_Organiser_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_PersonAccount_Organiser.Contact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Get_OrganiserContact_Id</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Person_Account_RT</name>
        <label>Person Account RT</label>
        <locationX>1136</locationX>
        <locationY>2773</locationY>
        <defaultConnector>
            <targetReference>gr_Get_PersonAccount_RT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t have RT</defaultConnectorLabel>
        <rules>
            <name>outcome_Got_PA_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_PersonAccountRecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_PersonAccount_Fundraiser</targetReference>
            </connector>
            <label>Got RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Source_Data_Action</name>
        <label>Source Data Action</label>
        <locationX>1162</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Gift_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionDeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GiftTransaction_DMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apxc_Extract_Gift_Transactions</targetReference>
            </connector>
            <label>Gift Transaction</label>
        </rules>
    </decisions>
    <description>Flow to upsert records for Social Sync Transaction file</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_DonorLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR(ISNULL({!apxc_Extract_Gift_Transactions.value2}),ISBLANK({!apxc_Extract_Gift_Transactions.value2}),{!apxc_Extract_Gift_Transactions.value2}=&apos;&apos;),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Gift_Transactions.value2}
)</expression>
    </formulas>
    <formulas>
        <name>formula_FundraiserLastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR(ISNULL({!apxc_Extract_Gift_Transactions.value14}),ISBLANK({!apxc_Extract_Gift_Transactions.value14}),{!apxc_Extract_Gift_Transactions.value14}=&apos;&apos;),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Gift_Transactions.value14}
)</expression>
    </formulas>
    <formulas>
        <name>formula_GiftAidAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!apxc_Extract_Gift_Transactions_GiftAid.value2})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>First Name, Last Name, Email, Phone, Postcode and NPC Id null</description>
        <name>formula_IsAnonymousDonor</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value1}), ISNULL({!apxc_Extract_Gift_Transactions.value1}),{!apxc_Extract_Gift_Transactions.value1}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value2}), ISNULL({!apxc_Extract_Gift_Transactions.value2}),{!apxc_Extract_Gift_Transactions.value2}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value6}), ISNULL({!apxc_Extract_Gift_Transactions.value6}),{!apxc_Extract_Gift_Transactions.value6}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value20}), ISNULL({!apxc_Extract_Gift_Transactions.value20}),{!apxc_Extract_Gift_Transactions.value20}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions_GiftAid.value3}), ISNULL({!apxc_Extract_Gift_Transactions_GiftAid.value3}),{!apxc_Extract_Gift_Transactions_GiftAid.value3}=&quot;&quot;),
OR(ISBLANK({!apxc_Extract_Gift_Transactions_GiftAid.value9}), ISNULL({!apxc_Extract_Gift_Transactions_GiftAid.value9}),{!apxc_Extract_Gift_Transactions_GiftAid.value9}=&quot;&quot;)
),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_NPCIdNull</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(ISBLANK({!apxc_Extract_Gift_Transactions.value20}), ISNULL({!apxc_Extract_Gift_Transactions.value20}),{!apxc_Extract_Gift_Transactions.value20}=&quot;&quot;),
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TodayPlus12Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),12)</expression>
    </formulas>
    <formulas>
        <name>formula_TransactionAmount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!apxc_Extract_Gift_Transactions.value8})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_TransactionDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(
LEFT({!apxc_Extract_Gift_Transactions.value11}, FIND(&quot; &quot;, {!apxc_Extract_Gift_Transactions.value11})-1)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TransactionPaymentMethod</name>
        <dataType>String</dataType>
        <expression>CASE({!apxc_Extract_Gift_Transactions.value9}, &quot;apple_pay&quot;, &quot;ApplePay&quot;, &quot;card&quot;, &quot;Credit/debit card&quot;,&quot;ee_uk&quot;,&quot;SMS&quot;,&quot;google_pay&quot;,&quot;Google Pay&quot;,&quot;o2_uk&quot;,&quot;SMS&quot;,&quot;sky_uk&quot;,&quot;SMS&quot;,&quot;three_uk&quot;,&quot;SMS&quot;,&quot;virgin_uk&quot;,&quot;SMS&quot;,&quot;vodafone_uk&quot;,&quot;SMS&quot;,&quot;Cash&quot;,&quot;Cash&quot;,&quot;Charity Voucher&quot;,&quot;Charity Voucher&quot;,&quot;Cheque&quot;,&quot;Cheque&quot;,&quot;Credit/ Debit Cards&quot;,&quot;Credit/debit card&quot;,&quot;Direct Debits&quot;,&quot;Direct Debit&quot;,&quot;PayPal&quot;,&quot;PayPal&quot;,&quot;Payroll Giving&quot;,&quot;Payroll Giving&quot;,&quot;Unknown&quot;)</expression>
    </formulas>
    <interviewLabel>Data Cloud - Upsert Records Social Sync Transaction (Unified) v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Upsert Records Social Sync Transaction (Unified) v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_CampaignMember_Fundraiser</name>
        <label>Create Campaign Member Fundraiser</label>
        <locationX>923</locationX>
        <locationY>3085</locationY>
        <connector>
            <targetReference>assignment_Assign_GSC_Recipient_and_Organiser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_Assign_GSC_Recipient_and_Organiser</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>gr_Get_PersonAccount_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Datasource__c</field>
            <value>
                <stringValue>SocialSync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporter_ID__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Transaction</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftAidDeclaration</name>
        <label>Create Gift Aid Declaration</label>
        <locationX>151</locationX>
        <locationY>2556</locationY>
        <connector>
            <targetReference>decision_Gift_Aid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>decision_Gift_Aid</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>gaid__Acquisition_Method__c</field>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Contact__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__End_Date__c</field>
            <value>
                <elementReference>formula_TodayPlus12Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Firstname__c</field>
            <value>
                <elementReference>text_PersonFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Lastname__c</field>
            <value>
                <elementReference>text_PersonLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Postalcode__c</field>
            <value>
                <elementReference>text_PersonPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Start_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftSoftCredit</name>
        <label>Create Gift Soft Credit</label>
        <locationX>499</locationX>
        <locationY>3067</locationY>
        <connector>
            <targetReference>assignment_Assign_Participant_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_Assign_GSC_Recipient_and_Organiser</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Datasource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftTransactionId</field>
            <value>
                <elementReference>cr_Create_GiftTransaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartialAmount</field>
            <value>
                <elementReference>formula_TransactionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipientId</field>
            <value>
                <elementReference>id_GiftSoftCreditRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Soft Credit</stringValue>
            </value>
        </inputAssignments>
        <object>GiftSoftCredit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction</name>
        <label>Create Gift Transaction</label>
        <locationX>506</locationX>
        <locationY>2169</locationY>
        <connector>
            <targetReference>gr_Get_Contact_from_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_Contact_from_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Social Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Id__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude_from_Findock_Gift_Aid_Processing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Code__c</field>
            <value>
                <elementReference>id_FinanceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>id_IncomeStream</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation from {!apxc_Extract_Gift_Transactions.value1} {!formula_DonorLastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>formula_TransactionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentIdentifier</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>formula_TransactionPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>formula_TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GiftTransaction_GiftAid</name>
        <label>Create Gift Transaction GiftAid</label>
        <locationX>1072</locationX>
        <locationY>2317</locationY>
        <connector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Upsert_ContactPointTypeConsents</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Social Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Id__c</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclude_from_Findock_Gift_Aid_Processing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Code__c</field>
            <value>
                <elementReference>id_FinanceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>id_IncomeStream</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>GiftAid from {!apxc_Extract_Gift_Transactions.value1} {!formula_DonorLastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>formula_GiftAidAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentIdentifier</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <elementReference>formula_TransactionPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_GiftAid_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>formula_TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount_Donor</name>
        <label>Create Person Account Donor</label>
        <locationX>50</locationX>
        <locationY>1429</locationY>
        <connector>
            <targetReference>assignment_AccountDetails_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignment_AccountDetails_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_DonorLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions_GiftAid.value6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions_GiftAid.value8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions_GiftAid.value9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions_GiftAid.value7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <stringValue>{!apxc_Extract_Gift_Transactions_GiftAid.value4} {!apxc_Extract_Gift_Transactions_GiftAid.value5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions_GiftAid.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>id_PersonAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Transaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Social Sync Transaction</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount_Fundraiser</name>
        <label>Create Person Account Fundraiser</label>
        <locationX>1285</locationX>
        <locationY>3087</locationY>
        <connector>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_PersonAccount_Contact_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_FundraiserLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>id_PersonAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Social Sync Transaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Social Sync Transaction</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Existing_Transaction</name>
        <label>Existing Transaction</label>
        <locationX>1556</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_DuplicateTransaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Account_ID_From_NPC_ID</name>
        <label>Get Account ID From NPC ID</label>
        <locationX>1313</locationX>
        <locationY>1676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value20</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Anon_Account</name>
        <label>Get Anon Account</label>
        <locationX>1547</locationX>
        <locationY>2178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_Campaign_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Anonymous Donor FY24</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>id_PersonAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>47</locationX>
        <locationY>1783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Campaign_0</name>
        <label>Get Campaign</label>
        <locationX>819</locationX>
        <locationY>2168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Assign_ids_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Contact_from_Account</name>
        <label>Get Contact from Account</label>
        <locationX>31</locationX>
        <locationY>2170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Get_Existing_GAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_PersonAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Donor_from_CampaignMember</name>
        <label>Get Donor from Campaign Member</label>
        <locationX>826</locationX>
        <locationY>1428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Donor_from_CampaignMember_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supporter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value10</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Existing_GAD</name>
        <label>Get Existing GAD</label>
        <locationX>31</locationX>
        <locationY>2430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Existing_GAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Contact_from_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GiftAid_RT</name>
        <label>Get GiftAid RT</label>
        <locationX>666</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_GiftTransaction_GiftAid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift_Aid</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GiftTransaction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_GiftTransaction_from_DonorId</name>
        <label>Get Gift Transaction from Donor Id</label>
        <locationX>1054</locationX>
        <locationY>1434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_GiftTransaction_with_Donor_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donor_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value10</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Sync</stringValue>
            </value>
        </filters>
        <filters>
            <field>DonorId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Contact_Record</name>
        <label>Get Person Account Contact Record</label>
        <locationX>1103</locationX>
        <locationY>3088</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_CampaignMember_Fundraiser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cr_Create_PersonAccount_Fundraiser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_Organiser</name>
        <label>Get Organiser from Campaign Member</label>
        <locationX>785</locationX>
        <locationY>2583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Organiser_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supporter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Gift_Transactions.value7</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_RT</name>
        <label>Get Person Account RT</label>
        <locationX>259</locationX>
        <locationY>1429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_PersonAccount_Donor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>id_PersonAccountRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_PersonAccount_RT_0</name>
        <label>Get Person Account RT</label>
        <locationX>1442</locationX>
        <locationY>2768</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_PersonAccount_Fundraiser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>id_PersonAccountRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1043</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_Is_SS_Transaction</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collection_ContactContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
    <variables>
        <name>collection_FundraiserPersonAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>id_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_FinanceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_GiftSoftCreditRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_IncomeStream</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_OrganiserContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_ParticipantContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_ContactContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
    <variables>
        <name>record_ContactPointTypeConsent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>recordvar_FundraiserAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>text_CurrentJsonPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text_PersonFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text_PersonLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>text_PersonPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
