force-app/main/default/flows/dcflow_Return_DataCloud_Upsert_Records_Unified_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apxc_Extract_Individuals</name>
        <label>Extract Individuals</label>
        <locationX>776</locationX>
        <locationY>702</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>apxc_Extract_Individuals_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__FirstName__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__LastName__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Original_ID__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Address__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Email_Consent__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Consent__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Post_Consent__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_SMS_Consent__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_NPC_Contact_Id__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Phone_Number__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Data_Souce__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__BirthDate__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_CallDate__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_CallOutcome__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Campaign_Title__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__TitleName__c&quot;,&quot;order&quot;:15}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Extract_Individuals_Address</name>
        <label>Extract Individuals - Address &amp; DD</label>
        <locationX>776</locationX>
        <locationY>860</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Return_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Address_Line_1__c&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_City__c&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_County__c&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_Postal_Code__c&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__ResidenceCountryId__c&quot;,&quot;order&quot;:4},{&quot;key&quot;:&quot;value6&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDAccountName__c&quot;,&quot;order&quot;:5},{&quot;key&quot;:&quot;value7&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDAccountNumber__c&quot;,&quot;order&quot;:6},{&quot;key&quot;:&quot;value8&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDAmount__c&quot;,&quot;order&quot;:7},{&quot;key&quot;:&quot;value9&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDBankName__c&quot;,&quot;order&quot;:8},{&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDBranchName__c&quot;,&quot;order&quot;:9},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDCampaignCode__c&quot;,&quot;order&quot;:10},{&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDGiftAid__c&quot;,&quot;order&quot;:11},{&quot;key&quot;:&quot;value13&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDImportType__c&quot;,&quot;order&quot;:12},{&quot;key&quot;:&quot;value14&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDPaymentFrequency__c&quot;,&quot;order&quot;:13},{&quot;key&quot;:&quot;value15&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDRefforBank__c&quot;,&quot;order&quot;:14},{&quot;key&quot;:&quot;value16&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDSortCode__c&quot;,&quot;order&quot;:15},{&quot;key&quot;:&quot;value17&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_DDStartDate_Date__c&quot;,&quot;order&quot;:16}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_Consent_Records</name>
        <label>Upsert Consent Records</label>
        <locationX>1745</locationX>
        <locationY>2976</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_Gift_Aid_Declaration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>decision_Gift_Aid_Declaration</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>cr_Create_PersonAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value8</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_Consent_Records_CampaignMember</name>
        <label>Upsert Consent Records</label>
        <locationX>1829</locationX>
        <locationY>1552</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_CampaignMember_from_DonorId.Contact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value8</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_Consent_Records_NPCId</name>
        <label>Upsert Consent Records</label>
        <locationX>1785</locationX>
        <locationY>2407</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_Contact_from_NPCId.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value8</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>apxc_Upsert_Consent_Records_NPCId_ExistingCM</name>
        <label>Upsert Consent Records</label>
        <locationX>1483</locationX>
        <locationY>2402</locationY>
        <actionName>DataCloudContactPointTypeConsent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>data_source</name>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personaccount_id</name>
            <value>
                <elementReference>gr_Get_Existing_CampaignMember.Contact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>post_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sms_consent</name>
            <value>
                <elementReference>apxc_Extract_Individuals.value8</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataCloudContactPointTypeConsent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_Assign_Payload</name>
        <label>Assign Payload</label>
        <locationX>776</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>text_CurrentPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apxc_Extract_Individuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Campaign_from_Campaign</name>
        <label>Assign Campaign from Campaign</label>
        <locationX>700</locationX>
        <locationY>1867</locationY>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_IncomeStream</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Campaign_Id_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Campaign_from_OSC</name>
        <label>Assign Campaign from OSC</label>
        <locationX>975</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>id_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id_IncomeStream</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_Get_OutreachSourceCode.Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Campaign_Id_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Call_Outcome</name>
        <label>Call Outcome</label>
        <locationX>967</locationX>
        <locationY>2116</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Person_Account_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person Account</defaultConnectorLabel>
        <rules>
            <name>outcome_CallOutcome_NoContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals.value14</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_Lead</targetReference>
            </connector>
            <label>Lead - No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Campaign_Id_null</name>
        <label>Campaign Id null?</label>
        <locationX>967</locationX>
        <locationY>1869</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Campaign_Id_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>id_Campaign</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>decision_Existing_Person_Account</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CampaignMemberExists</name>
        <label>Exists?</label>
        <locationX>1478</locationX>
        <locationY>1870</locationY>
        <defaultConnector>
            <targetReference>cr_Create_CampaignMember_NPCId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM Doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_Existing_CampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_Existing_CampaignMember</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_Existing_CampaignMember</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_PersonAccount_CampaignMemberExisting</targetReference>
            </connector>
            <label>CM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Contact_or_Lead</name>
        <label>Contact or Lead?</label>
        <locationX>1818</locationX>
        <locationY>1045</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ur_Update_PersonAccount_CampaignMember</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>outcome_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId.LeadId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_Update_Lead_CampaignMember</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Direct_Debit_Available</name>
        <label>Direct Debit Available?</label>
        <locationX>1538</locationX>
        <locationY>3348</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>outcome_Available_DD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value6</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value6</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value7</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value7</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value8</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value8</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value16</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value16</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value16</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_BBAN_RT</targetReference>
            </connector>
            <label>Available DD</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Existing_Person_Account</name>
        <label>NPC Id?</label>
        <locationX>1292</locationX>
        <locationY>1873</locationY>
        <defaultConnector>
            <targetReference>decision_Call_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No NPC ID</defaultConnectorLabel>
        <rules>
            <name>outcome_PersonAccount_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals.value9</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals.value9</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals.value9</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_Existing_CampaignMember</targetReference>
            </connector>
            <label>NPC ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Found_Campaign_Member</name>
        <label>Found Campaign Member?</label>
        <locationX>1451</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>gr_Get_OutreachSourceCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Found_Campaign_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_CampaignMember_from_DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Contact_or_Lead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Gift_Aid_Declaration</name>
        <label>Gift Aid Declaration?</label>
        <locationX>1538</locationX>
        <locationY>3108</locationY>
        <defaultConnector>
            <targetReference>decision_Direct_Debit_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gift Aid - NO</defaultConnectorLabel>
        <rules>
            <name>outcome_Gift_Aid_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals_Address.value12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_Create_GAD</targetReference>
            </connector>
            <label>Gift Aid - YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Is_Return_File</name>
        <label>Is Return File</label>
        <locationX>769</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Is_Return_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayloadCurrentValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Assign_Payload</targetReference>
            </connector>
            <label>Return File</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OSC_Found</name>
        <label>OSC Found?</label>
        <locationX>968</locationX>
        <locationY>1327</locationY>
        <defaultConnector>
            <targetReference>gr_Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_OSC_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Get_OutreachSourceCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Campaign_from_OSC</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Return_Check</name>
        <label>Return Check</label>
        <locationX>768</locationX>
        <locationY>1050</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Return_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apxc_Extract_Individuals.value11</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_Get_CampaignMember_from_DonorId</targetReference>
            </connector>
            <label>Is Return</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Amount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!apxc_Extract_Individuals_Address.value8})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_BirthDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(DATETIMEVALUE({!apxc_Extract_Individuals.value12}))</expression>
    </formulas>
    <formulas>
        <name>formula_City</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Individuals_Address.value2})&lt;=40, {!apxc_Extract_Individuals_Address.value2}, &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_CouldNotMigrate</name>
        <dataType>String</dataType>
        <expression>IF(
{!formula_PhoneNumber}=&apos;&apos;, {!apxc_Extract_Individuals.value10},&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(
AND({!formula_EmailAddressRegex}=TRUE, LEN({!apxc_Extract_Individuals.value4})&lt;=80), 
{!apxc_Extract_Individuals.value4}, 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_EmailAddressRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!apxc_Extract_Individuals.value4}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_FinalTransactionDay</name>
        <dataType>String</dataType>
        <expression>IF({!formula_TransactionDay}=&apos;31&apos;, &apos;30&apos;, {!formula_TransactionDay})</expression>
    </formulas>
    <formulas>
        <name>formula_GADFirstName</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Individuals.value1})&gt;35, &quot;FareShare Supporter&quot;, {!apxc_Extract_Individuals.value1}
)</expression>
    </formulas>
    <formulas>
        <name>formula_GADLastName</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!apxc_Extract_Individuals.value2})&gt;35, &quot;FareShare Supporter&quot;, {!apxc_Extract_Individuals.value2}
)</expression>
    </formulas>
    <formulas>
        <name>formula_LastName</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!apxc_Extract_Individuals.value2}=&quot;&quot;,ISNULL({!apxc_Extract_Individuals.value2})),
&quot;FareShare Supporter&quot;,
{!apxc_Extract_Individuals.value2}
)</expression>
    </formulas>
    <formulas>
        <name>formula_PhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(
OR(LEN({!apxc_Extract_Individuals.value10})=9,LEN({!apxc_Extract_Individuals.value10})=11,LEN({!apxc_Extract_Individuals.value10})=12), {!apxc_Extract_Individuals.value10}, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula_StartDateSigned</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!apxc_Extract_Individuals_Address.value17})</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TodayPlus1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),12)</expression>
    </formulas>
    <formulas>
        <name>formula_TransactionDay</name>
        <dataType>String</dataType>
        <expression>IF(
LEFT(RIGHT(LEFT({!apxc_Extract_Individuals_Address.value17}, 10),2), 1) = &apos;0&apos;,
SUBSTITUTE(RIGHT(LEFT({!apxc_Extract_Individuals_Address.value17}, 10),2), &apos;0&apos;, &apos;&apos;),
RIGHT(LEFT({!apxc_Extract_Individuals_Address.value17}, 10),2)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TransactionPeriod</name>
        <dataType>String</dataType>
        <expression>CASE({!apxc_Extract_Individuals_Address.value14}, &quot;Daily&quot;, &quot;Daily&quot;, &quot;Weekly&quot;, &quot;Weekly&quot;, &quot;Monthly&quot;, &quot;Monthly&quot;, &quot;Yearly&quot;, &quot;Yearly&quot;, &quot;Monthly&quot;)</expression>
    </formulas>
    <interviewLabel>Data Cloud - Upsert Records Return (Unified) v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud - Upsert Records Return (Unified) v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_Create_CampaignMember_Lead</name>
        <label>Create Campaign Member</label>
        <locationX>740</locationX>
        <locationY>2646</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>cr_Create_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporter_ID__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_CampaignMember_NPCId</name>
        <label>Create Campaign Member</label>
        <locationX>1783</locationX>
        <locationY>1875</locationY>
        <connector>
            <targetReference>gr_Get_Contact_from_NPCId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_Contact_from_NPCId</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporter_ID__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_CampaignMember_PersonAccount</name>
        <label>Create Campaign Member</label>
        <locationX>1546</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>apxc_Upsert_Consent_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Upsert_Consent_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>gr_Get_Contact_from_PA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporter_ID__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GAD</name>
        <label>Create GiftAidDeclaration</label>
        <locationX>1239</locationX>
        <locationY>3205</locationY>
        <connector>
            <targetReference>decision_Direct_Debit_Available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>decision_Direct_Debit_Available</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>gaid__Contact__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_PA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__End_Date__c</field>
            <value>
                <elementReference>formula_TodayPlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Firstname__c</field>
            <value>
                <elementReference>formula_GADFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Lastname__c</field>
            <value>
                <elementReference>formula_GADLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Postalcode__c</field>
            <value>
                <elementReference>gr_Get_Contact_from_PA.Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gaid__Start_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_GC_Schedule</name>
        <label>Create GC Schedule</label>
        <locationX>1547</locationX>
        <locationY>4303</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fareshare_Recurring_Gift_Type__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftCommitmentId</field>
            <value>
                <elementReference>cr_Create_Gift_Commitment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>formula_StartDateSigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionAmount</field>
            <value>
                <elementReference>formula_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDay</field>
            <value>
                <elementReference>formula_FinalTransactionDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionInterval</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionPeriod</field>
            <value>
                <elementReference>formula_TransactionPeriod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fdff__Mandate__c</field>
            <value>
                <elementReference>cr_Create_Mandate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fdff__Payment_Method__c</field>
            <value>
                <stringValue>BACS Direct Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fdff__Payment_Processor__c</field>
            <value>
                <stringValue>FinDock-GoCardless</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fdff__Payment_Profile__c</field>
            <value>
                <elementReference>cr_Create_Payment_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fdff__Target__c</field>
            <value>
                <stringValue>GoCardless</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_Filesource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>GiftCommitmentSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Gift_Commitment</name>
        <label>Create Gift Commitment</label>
        <locationX>1550</locationX>
        <locationY>4088</locationY>
        <connector>
            <targetReference>cr_Create_GC_Schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>cr_Create_GC_Schedule</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>cr_Create_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>formula_StartDateSigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedTotalCmtAmount</field>
            <value>
                <elementReference>formula_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>id_IncomeStream</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Commitment from {!apxc_Extract_Individuals_Address.value6}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleType</field>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_Filesource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>GiftCommitment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Lead</name>
        <label>Create Lead</label>
        <locationX>741</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>cr_Create_CampaignMember_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>cr_Create_CampaignMember_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>formula_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>id_IncomeStream</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Identify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Mandate</name>
        <label>Create Mandate</label>
        <locationX>1548</locationX>
        <locationY>3861</locationY>
        <connector>
            <targetReference>cr_Create_Gift_Commitment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>cr_Create_Gift_Commitment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>cpm__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Date_Signed__c</field>
            <value>
                <elementReference>formula_StartDateSigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Processor__c</field>
            <value>
                <stringValue>FinDock-GoCardless</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Profile__c</field>
            <value>
                <elementReference>cr_Create_Payment_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Status__c</field>
            <value>
                <stringValue>Pending registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Target__c</field>
            <value>
                <stringValue>GoCardless</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Type__c</field>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </inputAssignments>
        <object>cpm__Mandate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Mandate_Schedule</name>
        <label>Create Mandate Schedule</label>
        <locationX>1725</locationX>
        <locationY>3744</locationY>
        <inputAssignments>
            <field>cpm__Exclude_from_Auto_Run__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>cpm__Mandate_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_Payment_Profile</name>
        <label>Create Payment Profile</label>
        <locationX>1549</locationX>
        <locationY>3620</locationY>
        <connector>
            <targetReference>cr_Create_Mandate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>cr_Create_Mandate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_BBAN_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Account__c</field>
            <value>
                <elementReference>cr_Create_PersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Bank_Account__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Bank_Name__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Country_PL__c</field>
            <value>
                <stringValue>GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Country__c</field>
            <value>
                <stringValue>GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Holder_Name__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Sort_Code__c</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value16</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>cr_Create_PersonAccount</name>
        <label>Create Person Account</label>
        <locationX>1199</locationX>
        <locationY>2649</locationY>
        <connector>
            <targetReference>gr_Get_Contact_from_PA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>gr_Get_Contact_from_PA</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>formula_BirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>gr_Get_Person_Account_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_CouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_Get_BBAN_RT</name>
        <label>Get BBAN RT</label>
        <locationX>1720</locationX>
        <locationY>3526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_Payment_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment_Profile__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BBAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>700</locationX>
        <locationY>1599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Campaign_from_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value15</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_CampaignMember_from_DonorId</name>
        <label>Get Campaign Member from DonorId</label>
        <locationX>1186</locationX>
        <locationY>1043</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Found_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supporter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Contact_from_NPCId</name>
        <label>Get Contact from NPCId</label>
        <locationX>1785</locationX>
        <locationY>2146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apxc_Upsert_Consent_Records_NPCId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value9</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Contact_from_PA</name>
        <label>Get Contact from PA</label>
        <locationX>1546</locationX>
        <locationY>2646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_CampaignMember_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cr_Create_PersonAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Existing_CampaignMember</name>
        <label>Get Existing Campaign Member</label>
        <locationX>1388</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_CampaignMemberExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value9</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_OutreachSourceCode</name>
        <label>Get Outreach Source Code</label>
        <locationX>1462</locationX>
        <locationY>1326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_OSC_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value15</elementReference>
            </value>
        </filters>
        <filters>
            <field>SourceCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apxc_Extract_Individuals.value15</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OutreachSourceCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_Get_Person_Account_RT</name>
        <label>Get Person Account RT</label>
        <locationX>1199</locationX>
        <locationY>2419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cr_Create_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ur_Update_Lead_CampaignMember</name>
        <label>Update Lead</label>
        <locationX>2165</locationX>
        <locationY>1042</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_CampaignMember_from_DonorId.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>formula_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Stream__c</field>
            <value>
                <elementReference>gr_Get_CampaignMember_from_DonorId.Campaign.Finance_Code__r.Income_Stream__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Identify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount_CampaignMember</name>
        <label>Update Person Account</label>
        <locationX>1826</locationX>
        <locationY>1301</locationY>
        <connector>
            <targetReference>apxc_Upsert_Consent_Records_CampaignMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Upsert_Consent_Records_CampaignMember</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_CampaignMember_from_DonorId.Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>formula_BirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_CouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_Update_PersonAccount_CampaignMemberExisting</name>
        <label>Update Person Account</label>
        <locationX>1485</locationX>
        <locationY>2151</locationY>
        <connector>
            <targetReference>apxc_Upsert_Consent_Records_NPCId_ExistingCM</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apxc_Upsert_Consent_Records_NPCId_ExistingCM</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_Get_Existing_CampaignMember.Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>apxc_Extract_Individuals.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>formula_BirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>formula_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>formula_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>apxc_Extract_Individuals_Address.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>formula_PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unable_To_Migrate__pc</field>
            <value>
                <elementReference>formula_CouldNotMigrate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__c</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sj_FileSource__pc</field>
            <value>
                <stringValue>Data Cloud - Return</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_Is_Return_File</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>id_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_IncomeStream</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_PersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>record_PersonAccountToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>text_CurrentPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
