force-app/main/default/flows/JBSystemFlow_GiftTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_FireJBTrigger</name>
        <label>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;DonorId&quot;,
  &quot;relationshipName&quot;: &quot;Donor&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Account&quot;,
  &quot;fieldName&quot;: &quot;PersonContactId&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>GiftTransaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536005797</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Donor&quot;,&quot;dePrefix&quot;:&quot;GiftTransaction:Donor:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;GiftTransaction:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DonorId&quot;,&quot;Donor_Id__c&quot;,&quot;CreatedById&quot;,&quot;Net_Amount__c&quot;,&quot;Gift_Aid_Instalment_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</name>
        <label>JB_Decision_Null_Check_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Decision</name>
        <label>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</name>
            <conditionLogic>( (1 AND  ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6) )  And  ( ( (7 AND 8)  AND  (9 AND 10) )  AND  (11 AND 12) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AcknowledgementStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Be Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.GiftCommitmentScheduleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2025-01-31T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_State_change_Decision</name>
        <label>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</name>
            <conditionLogic>NOT  (1 AND  ( ( ( (2 AND 3)  AND 4)  AND 5)  AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AcknowledgementStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Be Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.GiftCommitmentScheduleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2025-01-31T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_GiftTransaction</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj1a2af2fdb8036d03de8dc0b1e1346dda</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
</Flow>
