force-app/main/default/flows/JBSystemFlow_GiftCommitment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_FireJBTrigger</name>
        <label>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;DonorId&quot;,&quot;relationshipName&quot;:&quot;Donor&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>GiftCommitment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536005797</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;GiftCommitmentSchedule&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CurrentGiftCmtSchedule&quot;,&quot;dePrefix&quot;:&quot;GiftCommitment:CurrentGiftCmtSchedule:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;TransactionPeriod&quot;,&quot;First_Transaction_Day__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Donor&quot;,&quot;dePrefix&quot;:&quot;GiftCommitment:Donor:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;gaid__Active_Gift_Aid_Declaration__pc&quot;,&quot;gaid__Active_Gift_Aid_Declarations__pc&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;GiftCommitment:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;NextTransactionDate&quot;,&quot;NextTransactionAmount&quot;,&quot;Acknowledgement_Status__c&quot;,&quot;First_Transaction_Date__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</name>
        <label>JB_Decision_Null_Check_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Decision</name>
        <label>JB_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  And  ( ( (5 AND 6)  AND  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2025-02-18T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Acknowledgement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Donor.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_GiftCommitment</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjd884310a7c7eabe5d4d8d374e6531bc6</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftCommitment</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftCommitment</objectType>
    </variables>
</Flow>
