force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2ce9b1ede17734805755c0cb61dbc299_FireJBTrigger</name>
        <label>SalesforceObj2ce9b1ede17734805755c0cb61dbc299_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2ce9b1ede17734805755c0cb61dbc299</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536005797</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;AccountId&quot;,&quot;FirstName&quot;,&quot;MailingCity&quot;,&quot;Datasource__c&quot;,&quot;MailingStreet&quot;,&quot;MailingPostalCode&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2ce9b1ede17734805755c0cb61dbc299</name>
        <label>JB_Decision_Null_Check_SalesforceObj2ce9b1ede17734805755c0cb61dbc299</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Decision</name>
        <label>JB_SalesforceObj2ce9b1ede17734805755c0cb61dbc299_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2ce9b1ede17734805755c0cb61dbc299</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Datasource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omaze optin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Datasource__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omaze optin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2ce9b1ede17734805755c0cb61dbc299_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2ce9b1ede17734805755c0cb61dbc299</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj2ce9b1ede17734805755c0cb61dbc299</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
