force-app/main/default/flows/MoveData_Donation_Contact_Post_Upsert_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Localise_Page_Created_Date_JustGiving</name>
        <label>Localise Page Created Date</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Consent_Record_Values_Date_JustGiving_Fundraiser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>Campaign_ParentCreatedAt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Localise_Transaction_Date_JustGiving</name>
        <label>Localise Transaction Date</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Consent_Record_Values_Date_JustGiving_Donation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>Donation_StartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Evaluate_Consent</name>
        <label>Log: Evaluate Consent</label>
        <locationX>402</locationX>
        <locationY>1850</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Consent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Account Id: {!Record.Id} / Capture Date: {!TransactionDateTime} / Capture Source: {!PlatformLabel} / Consent Any: {!CommunicationAnyComms} / Consent Capture Source: {!ConsentCaptureSource} / Consent Email: {!CommunicationEmail} / Consent Phone: {!CommunicationPhone} / Consent SMS: {!CommunicationSms} / Data Purpose Id: {!Get_Data_Use_Purpose.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Evaluate Consent Variables</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJson</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Missing_Data_Use_Purpose</name>
        <label>Log: Missing Data Use Purpose</label>
        <locationX>930</locationX>
        <locationY>950</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Expected Name: {!DataPurposeName} - Skipping Consent Logic...</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Missing Data Use Purpose</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJson</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Consent_Capture_Source_to_Just_Giving</name>
        <label>Set Consent Capture Source to Just Giving</label>
        <locationX>270</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>ConsentCaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Just Giving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Evaluate_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Capture_Source_to_Platform_Label</name>
        <label>Set Consent Capture Source to Platform Label</label>
        <locationX>534</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>ConsentCaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Evaluate_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Record_Values_Date_JustGiving_Donation</name>
        <label>Set Consent Record Values - Date</label>
        <locationX>490</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TransactionDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Localise_Transaction_Date_JustGiving.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Record_Values_Date_JustGiving_Fundraiser</name>
        <label>Set Consent Record Values - Date</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TransactionDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Localise_Page_Created_Date_JustGiving.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Platform</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DataPurposeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assess_Context_JustGiving</name>
        <label>Assess Context</label>
        <locationX>402</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assess_Transaction_Date_JustGiving</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundraiser_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_ParentKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Page_Created_Date_JustGiving</targetReference>
            </connector>
            <label>Fundraiser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gift_Commitment</name>
        <label>Assess Gift Commitment</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gift_Commitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Commitment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Page_Created_Date_JustGiving</name>
        <label>Assess Page Created Date</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Page_Created_Date_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_ParentCreatedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localise_Page_Created_Date_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Recurring_Donation</name>
        <label>Assess Recurring Donation</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurring_Key</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Commitment</targetReference>
            </connector>
            <label>Recurring Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Transaction_Date_JustGiving</name>
        <label>Assess Transaction Date</label>
        <locationX>622</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Transaction_Date_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localise_Transaction_Date_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Platform</name>
        <label>Evaluate Platform</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Set_Consent_Capture_Source_to_Platform_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Platform_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>justgiving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consent_Capture_Source_to_Just_Giving</targetReference>
            </connector>
            <label>JustGiving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Data_Use_Purpose</name>
        <label>Has Data Use Purpose</label>
        <locationX>666</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Log_Missing_Data_Use_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Data_Purpose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Data_Use_Purpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Data_Use_Purpose.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Context_JustGiving</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PlatformKeyGiftCommitment</name>
        <dataType>String</dataType>
        <expression>{!Platform}&amp;&quot;:&quot;&amp;{!Recurring_Key}</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Contact - Post Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Contact - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>666</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Data_Use_Purpose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataPurposeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Commitment</name>
        <label>Get Gift Commitment</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Gift_Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>md_npc_pack__Platform_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlatformKeyGiftCommitment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftCommitment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Recurring_Donation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Evaluate_Consent</name>
        <label>Evaluate Consent</label>
        <locationX>402</locationX>
        <locationY>1958</locationY>
        <flowName>MoveData_Consent_Subflow</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaptureDate</name>
            <value>
                <elementReference>TransactionDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaptureSource</name>
            <value>
                <elementReference>PlatformLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentAny</name>
            <value>
                <elementReference>CommunicationAnyComms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentCaptureSource</name>
            <value>
                <elementReference>ConsentCaptureSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentEmail</name>
            <value>
                <elementReference>CommunicationEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentPhone</name>
            <value>
                <elementReference>CommunicationPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ConsentSMS</name>
            <value>
                <elementReference>CommunicationSms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DataUsePurposeId</name>
            <value>
                <elementReference>Get_Data_Use_Purpose.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordList</assignToReference>
            <name>RecordList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Campaign_ParentCreatedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_ParentKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationAnyComms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunicationSms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentCaptureSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recurring_Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
