force-app/main/default/flows/MoveData_Donation_Donation_Post_Upsert_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Localise_Payment_Date_Gift_Aid</name>
        <label>Localise Payment Date - Gift Aid</label>
        <locationX>605</locationX>
        <locationY>1706</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_JustGiving_Payment_Date_Gift_Aid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>Custom_GiftaidPaymentDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Avoids INVALID_INPUT: You can only edit this field when the transaction status isn’t Paid or Fully Refunded.</description>
        <name>Log_Skipping_Upsert_due_to_Transaction_Status</name>
        <label>Log: Skipping Upsert due to Transaction Status</label>
        <locationX>1317</locationX>
        <locationY>4922</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Gift_Aid_Record_to_Record_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Status: {!GiftAidRecord.Status}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Skipping Upsert due to Transaction Status</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>LogsJson</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Gift_Aid_Record_to_Record_List</name>
        <label>Add Gift Aid Record to Record List</label>
        <locationX>1449</locationX>
        <locationY>5198</locationY>
        <assignmentItems>
            <assignToReference>RecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GiftAidRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Helper_Create_Record</name>
        <label>Helper - Create Record</label>
        <locationX>1581</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CreateOrUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Donation_Mapping_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Helper_Update_Record</name>
        <label>Helper - Update Record</label>
        <locationX>1317</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CreateOrUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Donation_Mapping_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_Enthuse</name>
        <label>Set Channel</label>
        <locationX>1832</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enthuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Method_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_JustGiving</name>
        <label>Set Channel</label>
        <locationX>737</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JustGiving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Method_JustGiving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donor_ID</name>
        <label>Set Donor ID</label>
        <locationX>1317</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Donor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gift_Aid_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_Enthuse</name>
        <label>Set Finance Code</label>
        <locationX>1546</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_Enthuse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_JustGiving</name>
        <label>Set Finance Code</label>
        <locationX>50</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_JustGiving.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_Unknown</name>
        <label>Set Finance Code</label>
        <locationX>930</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_JustGiving_Unknown.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Transaction_Fee</name>
        <label>Set Gateway Transaction Fee</label>
        <locationX>1317</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.GatewayTransactionFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_GiftaidFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Net_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gift_Aid_RT</name>
        <label>Set Gift Aid RT</label>
        <locationX>1317</locationX>
        <locationY>4514</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Aid_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Helper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream</name>
        <label>Set Income Stream</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finance_Code_JustGiving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream_Enthuse</name>
        <label>Set Income Stream</label>
        <locationX>1678</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_Enthuse.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finance_Code_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream_Unknown</name>
        <label>Set Income Stream</label>
        <locationX>996</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving_Unknown.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Finance_Code_Unknown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JustGiving_Payment_Date_Gift_Aid</name>
        <label>Set JustGiving Payment Date - Gift Aid</label>
        <locationX>605</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.JustGiving_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Localise_Payment_Date_Gift_Aid.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_Payment_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JustGiving_Payment_ID_Gift_Aid</name>
        <label>Set JustGiving Payment ID - Gift Aid</label>
        <locationX>605</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.JustGiving_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_GiftaidPaymentRef</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Payment_Date_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount</name>
        <label>Set Net Amount</label>
        <locationX>1317</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Donor_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Amount</name>
        <label>Set Original Amount</label>
        <locationX>1449</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_GiftaidAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method_Enthuse</name>
        <label>Set Payment Method</label>
        <locationX>1832</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enthuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method_JustGiving</name>
        <label>Set Payment Method</label>
        <locationX>737</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JustGiving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Payment_Reference_Gift_Aid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Platform_Key</name>
        <label>Set Platform Key</label>
        <locationX>1053</locationX>
        <locationY>4814</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.md_npc_pack__Platform_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformKeySuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gift_Aid_Gift_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Enthuse</name>
        <label>Set Status</label>
        <locationX>1832</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Income_Stream_Table_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Payment_Gift_Aid</name>
        <label>Set Status</label>
        <locationX>737</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>GiftAidRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Custom_Code_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Amount_Gift_Aid</name>
        <label>Assess Amount - Gift Aid</label>
        <locationX>2247</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Amount_Gift_Aid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_GiftaidAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Custom_GiftaidAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Platform_Key</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Custom_Code_2</name>
        <label>Assess Custom Code 2</label>
        <locationX>737</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Call_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Custom_Code_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_ParentCustom_Code2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Income_Stream_Table_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Donor_Key</name>
        <label>Assess Donor Key</label>
        <locationX>1449</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Get_Gift_Aid_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Donor_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_ID</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fee_Gift_Aid</name>
        <label>Assess Fee - Gift Aid</label>
        <locationX>1449</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Assess_Donor_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Fee_Gift_Aid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_GiftaidFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Transaction_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Finance_Code_Unknown</name>
        <label>Assess Finance Code</label>
        <locationX>908</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Get_Finance_Code_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Finance_Code_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GiftAidRecord.Finance_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Fee_Gift_Aid</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gift_Aid_Gift_Transaction</name>
        <label>Assess Gift Aid Gift Transaction</label>
        <locationX>1449</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Helper_Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists_Gift_Aid_Gift_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GiftAidRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Helper_Update_Record</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Gift_Aid_RT</name>
        <label>Assess Gift Aid RT</label>
        <locationX>1449</locationX>
        <locationY>4406</locationY>
        <defaultConnector>
            <targetReference>Assess_Helper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Gift_Aid_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Aid_RT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Gift_Aid_RT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gift_Aid_RT</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Helper</name>
        <label>Assess Helper</label>
        <locationX>1449</locationX>
        <locationY>4706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateOrUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Platform_Key</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateOrUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Status</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Income_Stream</name>
        <label>Assess Income Stream</label>
        <locationX>908</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Set_Income_Stream_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Income_Stream</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GiftAidRecord.Income_Stream__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Finance_Code_Unknown</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Payment_Date_Gift_Aid</name>
        <label>Assess Payment Date - Gift Aid</label>
        <locationX>737</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Payment_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Payment_Date_Gift_Aid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_GiftaidPaymentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localise_Payment_Date_Gift_Aid</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Payment_Reference_Gift_Aid</name>
        <label>Assess Payment Reference - Gift Aid</label>
        <locationX>737</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assess_Payment_Date_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Payment_Reference_Gift_Aid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_GiftaidPaymentRef</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JustGiving_Payment_ID_Gift_Aid</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>1449</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>justgiving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_JustGiving</targetReference>
            </connector>
            <label>JustGiving</label>
        </rules>
        <rules>
            <name>Enthhuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>enthuse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Enthuse</targetReference>
            </connector>
            <label>Enthhuse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform_Key</name>
        <label>Assess Platform Key</label>
        <locationX>1893</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Platform_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Aid_Gift_Transaction</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result</name>
        <label>Assess Result</label>
        <locationX>336</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Income_Stream</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_Enthuse</name>
        <label>Assess Result</label>
        <locationX>1678</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_Enthuse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_Enthuse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_Enthuse</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_JustGiving</name>
        <label>Assess Result</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_JustGiving_Unknown</name>
        <label>Assess Result</label>
        <locationX>1062</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_JustGiving_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving_Unknown</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving_Unknown.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_Unknown</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Income_Stream_Table_Enthuse</name>
        <label>Assess Result</label>
        <locationX>1832</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Income_Stream_Table_Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_Enthuse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_Enthuse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Income_Stream_Enthuse</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Income_Stream_Table_JustGiving_Unknown</name>
        <label>Assess Result</label>
        <locationX>1139</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee_Gift_Aid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Income_Stream_Table_JustGiving_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving_Unknown</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving_Unknown.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Income_Stream</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Status</name>
        <label>Evaluate Status</label>
        <locationX>1449</locationX>
        <locationY>4814</locationY>
        <defaultConnector>
            <targetReference>Update_Gift_Aid_Gift_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_or_Fully_Refunded_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GiftAidRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GiftAidRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Refunded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Skipping_Upsert_due_to_Transaction_Status</targetReference>
            </connector>
            <label>Paid or Fully Refunded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NetAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Custom_GiftaidAmount}-{!Custom_GiftaidFee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PlatformKeySuffix</name>
        <dataType>String</dataType>
        <expression>{!PlatformKey}&amp;&quot;-ga&quot;</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Donation - Post Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Post Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Gift_Aid_Gift_Transaction</name>
        <label>Create Gift Aid Gift Transaction</label>
        <locationX>1053</locationX>
        <locationY>4922</locationY>
        <connector>
            <targetReference>Add_Gift_Aid_Record_to_Record_List</targetReference>
        </connector>
        <inputReference>GiftAidRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Call_Income_Stream_Table_Enthuse</name>
        <label>Call Income Stream Table - Enthuse</label>
        <locationX>1832</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Income_Stream_Table_Enthuse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTHUSE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Income_Stream_Table_JustGiving</name>
        <label>Call Income Stream Table - JustGiving</label>
        <locationX>336</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Custom_Code_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_ParentCustom_Code2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Income_Stream_Table_JustGiving_Unknown</name>
        <label>Call Income Stream Table - JustGiving Unknown</label>
        <locationX>1139</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JUSTGIVING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_Enthuse</name>
        <label>Get Finance Code - Enthuse</label>
        <locationX>1678</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_Enthuse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_Enthuse.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_JustGiving</name>
        <label>Get Finance Code - JustGiving</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_JustGiving</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_JustGiving_Unknown</name>
        <label>Get Finance Code - JustGiving Unknown</label>
        <locationX>1062</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_JustGiving_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving_Unknown.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Aid_Gift_Transaction</name>
        <label>Get Gift Aid Gift Transaction</label>
        <locationX>1449</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Gift_Aid_Gift_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>md_npc_pack__Platform_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlatformKeySuffix</elementReference>
            </value>
        </filters>
        <object>GiftTransaction</object>
        <outputReference>GiftAidRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DonorId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>md_npc_pack__Platform_Key__c</queriedFields>
        <queriedFields>CurrentAmount</queriedFields>
        <queriedFields>OriginalAmount</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>DonorCoverAmount</queriedFields>
        <queriedFields>GatewayReference</queriedFields>
        <queriedFields>GatewayTransactionFee</queriedFields>
        <queriedFields>GiftCommitmentId</queriedFields>
        <queriedFields>GiftCommitmentScheduleId</queriedFields>
        <queriedFields>GiftType</queriedFields>
        <queriedFields>MatchingEmployerTransactionId</queriedFields>
        <queriedFields>PaymentIdentifier</queriedFields>
        <queriedFields>PaymentMethod</queriedFields>
        <queriedFields>OutreachSourceCodeId</queriedFields>
        <queriedFields>PaymentInstrumentId</queriedFields>
        <queriedFields>ProcessorReference</queriedFields>
        <queriedFields>ProcessorTransactionFee</queriedFields>
        <queriedFields>TotalTransactionFee</queriedFields>
        <queriedFields>TransactionDate</queriedFields>
        <queriedFields>TransactionDueDate</queriedFields>
        <queriedFields>Gift_Aid_Instalment_ID__c</queriedFields>
        <queriedFields>Gift_Team__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Income_Stream__c</queriedFields>
        <queriedFields>Finance_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Aid_RT</name>
        <label>Get Gift Aid RT</label>
        <locationX>1449</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Gift_Aid_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift_Aid</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GiftTransaction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gift_Aid_Gift_Transaction</name>
        <label>Update Gift Aid Gift Transaction</label>
        <locationX>1581</locationX>
        <locationY>4922</locationY>
        <connector>
            <targetReference>Add_Gift_Aid_Record_to_Record_List</targetReference>
        </connector>
        <inputReference>GiftAidRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>2121</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Amount_Gift_Aid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Donation_Mapping_Flow</name>
        <label>Run Donation Mapping Flow</label>
        <locationX>1449</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_Original_Amount</targetReference>
        </connector>
        <flowName>md_npc_pack__MoveData_Donation_Donation_Mapping</flowName>
        <inputAssignments>
            <name>Amount</name>
            <value>
                <elementReference>Custom_GiftaidAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Anonymous</name>
            <value>
                <elementReference>Anonymous</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CardInformationType</name>
            <value>
                <elementReference>CardInformationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_AnonymousContactId</name>
            <value>
                <elementReference>Config_AnonymousContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationAmountSubtractFeePlatform</name>
            <value>
                <elementReference>Config_DonationAmountSubtractFeePlatform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationInheritCampaignRecurring</name>
            <value>
                <elementReference>Config_DonationInheritCampaignRecurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationProcessFailed</name>
            <value>
                <elementReference>Config_DonationProcessFailed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationProcessOffline</name>
            <value>
                <elementReference>Config_DonationProcessOffline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressCampaign</name>
            <value>
                <elementReference>Config_DonationSuppressCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressDescription</name>
            <value>
                <elementReference>Config_DonationSuppressDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressDonor</name>
            <value>
                <elementReference>Config_DonationSuppressDonor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressDonorFee</name>
            <value>
                <elementReference>Config_DonationSuppressDonorFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressGatewayFee</name>
            <value>
                <elementReference>Config_DonationSuppressGatewayFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressGatewayTxn</name>
            <value>
                <elementReference>Config_DonationSuppressGatewayTxn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressPaymentId</name>
            <value>
                <elementReference>Config_DonationSuppressPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressPayMeth</name>
            <value>
                <elementReference>Config_DonationSuppressPayMeth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressStartDate</name>
            <value>
                <elementReference>Config_DonationSuppressStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_DonationSuppressType</name>
            <value>
                <elementReference>Config_DonationSuppressType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Config_MarketingSuppressSource</name>
            <value>
                <elementReference>Config_MarketingSuppressSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrencyType</name>
            <value>
                <elementReference>CurrencyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DonationCampaign</name>
            <value>
                <elementReference>DonationCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DonorAccount</name>
            <value>
                <elementReference>DonorAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DonorContact</name>
            <value>
                <elementReference>DonorContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Platform</name>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Processor</name>
            <value>
                <elementReference>Processor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessorTransactionId</name>
            <value>
                <elementReference>ProcessorTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReceiptNumber</name>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>GiftAidRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecurringDonation</name>
            <value>
                <elementReference>RecurringDonation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GiftAidRecord</assignToReference>
            <name>Record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Anonymous</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Campaign_ParentCustom_Code2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardInformationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_AnonymousContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationAmountSubtractFeePlatform</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationInheritCampaignRecurring</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationProcessFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationProcessOffline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressCampaign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressDescription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressDonor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressDonorFee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressGatewayFee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressGatewayTxn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressPaymentId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressPayMeth</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressStartDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_DonationSuppressType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Config_MarketingSuppressSource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateOrUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrencyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Custom_ApiSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_GiftaidAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Custom_GiftaidFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Custom_GiftaidPaymentDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_GiftaidPaymentRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonorAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DonorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DonorKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GiftAidRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessorTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>RecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitment</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
