force-app/main/default/flows/MoveData_Donation_Contact_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Address_Is_Empty_SF</name>
        <label>Log: Address Is Empty (SF)</label>
        <locationX>809</locationX>
        <locationY>1610</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Mailing_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Empty (SF)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Address Is Empty (SF)</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Is_Not_Empty_SF</name>
        <label>Log: Address Is Not Empty (SF)</label>
        <locationX>1403</locationX>
        <locationY>1610</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Address_Platform_Minimum_Criteria</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>{!Record.PersonMailingStreet} / {!StreetCharacters}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Address Is Not Empty (SF)</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_Meets_Minimum_Criteria</name>
        <label>Log: Address Meets Minimum Criteria</label>
        <locationX>1205</locationX>
        <locationY>1826</locationY>
        <actionName>movedata__WriteToLogFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assess_Street_Platform</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Detail</name>
            <value>
                <stringValue>Meets Minimum Criteria</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LogList</name>
            <value>
                <elementReference>Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Log: Address Meets Minimum Criteria</stringValue>
            </value>
        </inputParameters>
        <nameSegment>movedata__WriteToLogFlowComponent</nameSegment>
        <outputParameters>
            <assignToReference>LogsJSON</assignToReference>
            <name>LogJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Logs</assignToReference>
            <name>LogList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_City</name>
        <label>Set City</label>
        <locationX>1073</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_State_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country</name>
        <label>Set Country</label>
        <locationX>1073</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Mailing_Address</name>
        <label>Set Mailing Address</label>
        <locationX>809</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Phone</name>
        <label>Set Phone</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneRemoveSpecialCharacters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Mailing_Address_SF_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_0</name>
        <label>Set Phone</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneLeading0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Mailing_Address_SF_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_00</name>
        <label>Set Phone</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneLeading00</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Mailing_Address_SF_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Postcode</name>
        <label>Set Postcode</label>
        <locationX>1073</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Postcode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Country_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Salutation</name>
        <label>Set Salutation</label>
        <locationX>1128</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>1073</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Postcode_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Street</name>
        <label>Set Street</label>
        <locationX>1073</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>Record.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailingAddress_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_City_Platform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unable_to_Migrate_Phone</name>
        <label>Set Unable to Migrate (Phone)</label>
        <locationX>1370</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Record.Unable_To_Migrate__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Mailing_Address_SF_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Address_Platform_Minimum_Criteria</name>
        <label>Assess Address (Platform) - Minimum Criteria</label>
        <locationX>1403</locationX>
        <locationY>1718</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meets_Minimum_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StreetCharacters</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MailingAddress_Postcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Meets_Minimum_Criteria</targetReference>
            </connector>
            <label>Meets Minimum Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_City_Platform</name>
        <label>Assess City - Platform</label>
        <locationX>1205</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>Assess_State_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_City_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_City</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Country_Platform</name>
        <label>Assess Country - Platform</label>
        <locationX>1205</locationX>
        <locationY>3134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Country_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Leading_0</name>
        <label>Assess Leading 0</label>
        <locationX>974</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Count_Characters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Leading_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneRemoveSpecialCharacters</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Characters_Leading_0</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Leading_00</name>
        <label>Assess Leading 00</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assess_Leading_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Leading_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneRemoveSpecialCharacters</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Characters_Leading_00</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Mailing_Address_SF_Empty</name>
        <label>Assess Mailing Address (SF) (Empty)</label>
        <locationX>1106</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>Log_Address_Is_Not_Empty_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Mailing_Address_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.PersonMailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PersonMailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PersonMailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PersonMailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PersonMailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_Is_Empty_SF</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Phone</name>
        <label>Assess Phone</label>
        <locationX>1106</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Assess_Mailing_Address_SF_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Leading_00</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Postcode_Platform</name>
        <label>Assess Postcode - Platform</label>
        <locationX>1205</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>Assess_Country_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Postcode_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Postcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Postcode</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Salutation_Platform</name>
        <label>Assess Salutation (Platform)</label>
        <locationX>1260</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assess_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Salutation_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Salutation</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Salutation_SF</name>
        <label>Assess Salutation (SF)</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Salutation_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Salutation_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Phone</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_State_Platform</name>
        <label>Assess State - Platform</label>
        <locationX>1205</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Assess_Postcode_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_State_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Street_Platform</name>
        <label>Assess Street - Platform</label>
        <locationX>1205</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Assess_City_Platform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Street_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MailingAddress_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Street</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Characters</name>
        <label>Count Characters</label>
        <locationX>1238</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Set_Unable_to_Migrate_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OK_Characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneRemoveSpecialCharactersLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Characters_Leading_0</name>
        <label>Count Characters</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Unable_to_Migrate_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OK_Characters_Leading_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneLeading0Length</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_0</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Characters_Leading_00</name>
        <label>Count Characters</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Unable_to_Migrate_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OK_Characters_Leading_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneLeading00Length</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_00</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhoneLeading0</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!PhoneRemoveSpecialCharacters},LEN({!PhoneRemoveSpecialCharacters})-1 ))</expression>
    </formulas>
    <formulas>
        <name>PhoneLeading00</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!PhoneRemoveSpecialCharacters},LEN({!PhoneRemoveSpecialCharacters})-2 ))</expression>
    </formulas>
    <formulas>
        <name>PhoneLeading00Length</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!PhoneLeading00}) = 9, True, IF(LEN({!PhoneLeading00}) = 11, True, IF(LEN({!PhoneLeading00}) = 12, True, False)))</expression>
    </formulas>
    <formulas>
        <name>PhoneLeading0Length</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!PhoneLeading0}) = 9, True, IF(LEN({!PhoneLeading0}) = 11, True, IF(LEN({!PhoneLeading0}) = 12, True, False)))</expression>
    </formulas>
    <formulas>
        <name>PhoneRemoveSpecialCharacters</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Phone},&quot; &quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PhoneRemoveSpecialCharactersLength</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!PhoneRemoveSpecialCharacters}) = 9, True, IF(LEN({!PhoneRemoveSpecialCharacters}) = 11, True, IF(LEN({!PhoneRemoveSpecialCharacters}) = 12, True, False)))</expression>
    </formulas>
    <formulas>
        <name>StreetCharacters</name>
        <dataType>Number</dataType>
        <expression>LEN({!MailingAddress_Street})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[MoveData] Donation: Contact - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Contact - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Salutation_SF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Logs</name>
        <apexClass>movedata__MoveDataLogEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingAddress_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
