force-app/main/default/flows/MoveData_Consent_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_all_Records_as_Output_New</name>
        <label>Add all Records as Output</label>
        <locationX>446</locationX>
        <locationY>4526</locationY>
        <assignmentItems>
            <assignToReference>RecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_New_Consent_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_New_Consent_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Channel</name>
        <label>Add Email to Channel</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Consent_for_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Channel_Loop</name>
        <label>Add Email to Channel</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Email_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Phone_to_Channel</name>
        <label>Add Phone to Channel</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Channels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Phone_to_Channel_Loop</name>
        <label>Add Phone to Channel</label>
        <locationX>754</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_for_existing_Phone_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_as_Output_Existing</name>
        <label>Add Record as Output</label>
        <locationX>556</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>RecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Consent_Record_to_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SMS_to_Channel</name>
        <label>Add SMS to Channel</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Consent_for_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SMS_to_Channel_Loop</name>
        <label>Add SMS to Channel</label>
        <locationX>754</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>ChannelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_for_existing_SMS_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Insert_Collection</name>
        <label>Add to Insert Collection</label>
        <locationX>1040</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>InsertList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Consent_Record_to_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>644</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_as_Output_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Name</name>
        <label>Set Consent Name</label>
        <locationX>1040</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>ConsentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Consent_Record_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Record_to_NULL</name>
        <label>Set Consent Record to NULL</label>
        <locationX>798</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>ConsentRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Channels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Consent_Record_Values</name>
        <label>Set Consent Record Values</label>
        <locationX>1040</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>ConsentRecord.DataUsePurposeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Channels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.Legal_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalBasis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.CaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.Consent_Capture_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentCaptureSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.Person_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.PartyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.PersonIndividualId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.CaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentRecord.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Match_Record</name>
        <label>Set Match Record</label>
        <locationX>886</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>ConsentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Consent_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Consent_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Privacy_Consent_Status_Opt_In</name>
        <label>Set Privacy Consent Status to OptIn</label>
        <locationX>644</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>ConsentRecord.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Privacy_Consent_Status_Opt_In</name>
        <label>Does Privacy Consent Status = Opt In?</label>
        <locationX>556</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Set_Privacy_Consent_Status_Opt_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Privacy_Consent_OptIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentRecord.PrivacyConsentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_as_Output_Existing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Consent_for_Email</name>
        <label>Has Consent for Email?</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Iterate_Email_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Consent_Email_Yes</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ConsentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsentAny</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsentEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Consent_for_Phone</name>
        <label>Has Consent for Phone?</label>
        <locationX>358</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <targetReference>Iterate_for_existing_Phone_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Consent_Phone_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Phone_to_Channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Consent_for_SMS</name>
        <label>Has Consent for SMS?</label>
        <locationX>358</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Iterate_for_existing_SMS_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Consent_SMS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentSMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SMS_to_Channel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_Channel</name>
        <label>Has Email Channel?</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Iterate_Email_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Channel_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Email_Consent.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Channel_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Consent</name>
        <label>Has Existing Consent?</label>
        <locationX>798</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>Has_Individual_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing_Consent_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Privacy_Consent_Status_Opt_In</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Individual_ID</name>
        <label>Has Individual ID?</label>
        <locationX>1040</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Has_Party_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Individual_Id_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.PersonIndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Individual_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Party_Name</name>
        <label>Has Party Name?</label>
        <locationX>1040</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Get_Party_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Party_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartyName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Consent_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Phone_Channel</name>
        <label>Has Phone Channel?</label>
        <locationX>886</locationX>
        <locationY>1826</locationY>
        <defaultConnector>
            <targetReference>Iterate_for_existing_Phone_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Phone_Channel_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Email_Consent.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Phone_to_Channel_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SMS_Channel</name>
        <label>Has SMS Channel?</label>
        <locationX>886</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Iterate_for_existing_SMS_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Email_Consent.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SMS_to_Channel_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Match</name>
        <label>Is Match?</label>
        <locationX>1018</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Iterate_Consent_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Match_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Consent_Records.DataUsePurposeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DataUsePurposeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Consent_Records.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Channels</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Consent_Records.Legal_Basis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LegalBasis</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Consent_Records.CaptureSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaptureSource</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Consent_Records.Person_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConsentName</name>
        <dataType>String</dataType>
        <expression>{!PartyName} &amp; &quot; - &quot; &amp; {!Iterate_Channels} &amp; &quot; - Fundraising&quot;</expression>
    </formulas>
    <interviewLabel>[MoveData Subflow] Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Subflow] Consent</label>
    <loops>
        <name>Iterate_Channels</name>
        <label>Iterate Channels</label>
        <locationX>358</locationX>
        <locationY>2294</locationY>
        <collectionReference>ChannelList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Consent_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Consent_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Consent_Records</name>
        <label>Iterate Consent Records</label>
        <locationX>798</locationX>
        <locationY>2402</locationY>
        <collectionReference>Get_All_Consent_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Existing_Consent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Email_Consent</name>
        <label>Iterate for existing Email Consent</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Consent_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Email_Channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Consent_for_SMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_for_existing_Phone_Consent</name>
        <label>Iterate for existing Phone Consent</label>
        <locationX>666</locationX>
        <locationY>1718</locationY>
        <collectionReference>Get_All_Consent_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Phone_Channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Channels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_for_existing_SMS_Consent</name>
        <label>Iterate for existing SMS Consent</label>
        <locationX>666</locationX>
        <locationY>1034</locationY>
        <collectionReference>Get_All_Consent_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_SMS_Channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Consent_for_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_New_Consent_Records</name>
        <label>Iterate New Consent Records</label>
        <locationX>358</locationX>
        <locationY>4418</locationY>
        <collectionReference>InsertList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_all_Records_as_Output_New</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Consent_Records</name>
        <label>Create Consent Records</label>
        <locationX>358</locationX>
        <locationY>4202</locationY>
        <connector>
            <targetReference>Update_Consent_Records</targetReference>
        </connector>
        <inputReference>InsertList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Consent_Records</name>
        <label>Get All Consent Records</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Consent_for_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_ID</name>
        <label>Get Individual ID</label>
        <locationX>908</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Party_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountRecord.PersonIndividualId</assignToReference>
            <field>PersonIndividualId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Name</name>
        <label>Get Party Name</label>
        <locationX>1128</locationX>
        <locationY>3410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Consent_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.PersonIndividualId</elementReference>
            </value>
        </filters>
        <object>Individual</object>
        <outputAssignments>
            <assignToReference>PartyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consent_Records</name>
        <label>Update Consent Records</label>
        <locationX>358</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Iterate_New_Consent_Records</targetReference>
        </connector>
        <inputReference>UpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Consent_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaptureDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaptureSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChannelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentAny</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentCaptureSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>ConsentSMS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>LegalBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Consent</stringValue>
        </value>
    </variables>
    <variables>
        <name>PartyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
</Flow>
