force-app/main/default/flows/MoveData_Donation_Donation_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Localise_Payment_Date</name>
        <label>Localise Payment Date</label>
        <locationX>605</locationX>
        <locationY>866</locationY>
        <actionName>movedata__ConvertToLocalDateFlowComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_JustGiving_Payment_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DateTimeInput</name>
            <value>
                <elementReference>Custom_PaymentDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>movedata__ConvertToLocalDateFlowComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_Donor_Cover_Amount</name>
        <label>Clear Donor Cover Amount</label>
        <locationX>1449</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>Record.DonorCoverAmount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Donor_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Processor_Transaction_Fee</name>
        <label>Clear Processor Transaction Fee</label>
        <locationX>1449</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>Record.ProcessorTransactionFee</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Donor_Cover_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_Enthuse</name>
        <label>Set Channel</label>
        <locationX>1832</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enthuse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_JustGiving</name>
        <label>Set Channel</label>
        <locationX>737</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Record.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JustGiving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Method_JustGiving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donor_ID</name>
        <label>Set Donor ID</label>
        <locationX>1317</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>Record.Donor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_Enthuse</name>
        <label>Set Finance Code</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Record.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_Enthuse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_JustGiving</name>
        <label>Set Finance Code</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Record.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_JustGiving.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finance_Code_Unknown</name>
        <label>Set Finance Code</label>
        <locationX>930</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Record.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Finance_Code_JustGiving_Unknown.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gateway_Transaction_Fee</name>
        <label>Set Gateway Transaction Fee</label>
        <locationX>1317</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>Record.GatewayTransactionFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Net_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream</name>
        <label>Set Income Stream</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Record.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finance_Code_JustGiving</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream_Enthuse</name>
        <label>Set Income Stream</label>
        <locationX>1678</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Record.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_Enthuse.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finance_Code_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Income_Stream_Unknown</name>
        <label>Set Income Stream</label>
        <locationX>996</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Record.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving_Unknown.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Finance_Code_Unknown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JustGiving_Payment_Date</name>
        <label>Set JustGiving Payment Date</label>
        <locationX>605</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Record.JustGiving_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Localise_Payment_Date.LocalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_JustGiving_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JustGiving_Payment_ID</name>
        <label>Set JustGiving Payment ID</label>
        <locationX>605</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Record.JustGiving_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_PaymentPaymentRef</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Payment_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Net_Amount</name>
        <label>Set Net Amount</label>
        <locationX>1317</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Record.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Processor_Transaction_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method_JustGiving</name>
        <label>Set Payment Method</label>
        <locationX>737</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JustGiving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Payment_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Enthuse</name>
        <label>Set Status</label>
        <locationX>1832</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Income_Stream_Table_Enthuse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_JustGiving_Payment</name>
        <label>Set Status</label>
        <locationX>737</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Custom_Code_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Custom_Code_2</name>
        <label>Assess Custom Code 2</label>
        <locationX>737</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Call_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Customer_Code_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_ParentCustom_Code2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Income_Stream_Table_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Donor_Key</name>
        <label>Assess Donor Key</label>
        <locationX>1449</locationX>
        <locationY>3374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Donor_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorKey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_ID</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Fee</name>
        <label>Assess Fee</label>
        <locationX>1449</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Clear_Processor_Transaction_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Gateway_Transaction_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Finance_Code_Unknown</name>
        <label>Assess Finance Code</label>
        <locationX>908</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Get_Finance_Code_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Finance_Code_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Finance_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Fee</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Income_Stream</name>
        <label>Assess Income Stream</label>
        <locationX>908</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Income_Stream_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Income_Stream</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Income_Stream__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Finance_Code_Unknown</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Payment_Date</name>
        <label>Assess Payment Date</label>
        <locationX>737</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Status_JustGiving_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_PaymentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Localise_Payment_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Payment_Reference</name>
        <label>Assess Payment Reference</label>
        <locationX>737</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assess_Payment_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Payment_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_PaymentPaymentRef</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JustGiving_Payment_ID</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>1449</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>justgiving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_JustGiving</targetReference>
            </connector>
            <label>JustGiving</label>
        </rules>
        <rules>
            <name>Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>enthuse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Enthuse</targetReference>
            </connector>
            <label>Enthuse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result</name>
        <label>Assess Result</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Income_Stream</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_Enthuse</name>
        <label>Assess Result</label>
        <locationX>1678</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_Enthuse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_Enthuse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_Enthuse</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_JustGiving</name>
        <label>Assess Result</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_JustGiving</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Finance_Code_JustGiving_Unknown</name>
        <label>Assess Result</label>
        <locationX>1062</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Finance_Code_JustGiving_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving_Unknown</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Finance_Code_JustGiving_Unknown.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Finance_Code_Unknown</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Income_Stream_Table_Enthuse</name>
        <label>Assess Result</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Income_Stream_Table_Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_Enthuse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_Enthuse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Income_Stream_Enthuse</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Result_Income_Stream_Table_JustGiving_Unknown</name>
        <label>Assess Result</label>
        <locationX>1139</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assess_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Result_Income_Stream_Table_JustGiving_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving_Unknown</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Income_Stream_Table_JustGiving_Unknown.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Income_Stream</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NetAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Amount}-{!Fee}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[MoveData] Donation: Donation - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Donation - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Call_Income_Stream_Table_Enthuse</name>
        <label>Call Income Stream Table - Enthuse</label>
        <locationX>1832</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Income_Stream_Table_Enthuse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTHUSE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Income_Stream_Table_JustGiving</name>
        <label>Call Income Stream Table - JustGiving</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Custom_Code_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_ParentCustom_Code2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Call_Income_Stream_Table_JustGiving_Unknown</name>
        <label>Call Income Stream Table - JustGiving Unknown</label>
        <locationX>1139</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Income_Stream_Table_JustGiving_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JUSTGIVING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MoveData_Income_Stream_Mapping_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_Enthuse</name>
        <label>Get Finance Code - Enthuse</label>
        <locationX>1678</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_Enthuse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_Enthuse.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_JustGiving</name>
        <label>Get Finance Code - JustGiving</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_JustGiving</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Code_JustGiving_Unknown</name>
        <label>Get Finance Code - JustGiving Unknown</label>
        <locationX>1062</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Result_Finance_Code_JustGiving_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Income_Stream_Table_JustGiving_Unknown.Custom_Code_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1323</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Campaign_ParentCustom_Code2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_ApiSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_PaymentDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Custom_PaymentPaymentRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
</Flow>
