force-app/main/default/flows/MoveData_Donation_Campaign_Mapping_Ext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Fundraising_Page_URL</name>
        <label>Set Fundraising Page URL</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Record.Fundraising_Page_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PageUrl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Name_Enthuse_No_Event</name>
        <label>Set Name</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNoEventEnthuseTruncate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_JustGiving_No_Event</name>
        <label>Set Name</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNoEventJustGivingTruncate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_URL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Event_Enthuse</name>
        <label>Assess Event</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Name_Enthuse_No_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>enthuse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_URL</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Event_JustGiving</name>
        <label>Assess Event</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Name_JustGiving_No_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>justgiving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_URL</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Platform</name>
        <label>Assess Platform</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assess_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JustGiving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>justgiving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Event_JustGiving</targetReference>
            </connector>
            <label>JustGiving</label>
        </rules>
        <rules>
            <name>Enthuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Platform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>enthuse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Event_Enthuse</targetReference>
            </connector>
            <label>Enthuse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_URL</name>
        <label>Assess URL</label>
        <locationX>446</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PageUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fundraising_Page_URL</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameEvent</name>
        <dataType>String</dataType>
        <expression>{!CampaignNameValue}&amp;&quot; - &quot;&amp;{!Name}</expression>
    </formulas>
    <formulas>
        <name>NameEventTruncate</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!NameEvent}),
    NULL,
    IF(
        LEN({!NameEvent}) &gt; 80,
        LEFT({!NameEvent}, 77) + &quot;...&quot;,
        {!NameEvent}
    )
)</expression>
    </formulas>
    <formulas>
        <name>NameNoEventEnthuse</name>
        <dataType>String</dataType>
        <expression>&quot;Enthuse Unallocated - &quot;&amp;{!Name}</expression>
    </formulas>
    <formulas>
        <name>NameNoEventEnthuseTruncate</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!NameNoEventEnthuse}),
    NULL,
    IF(
        LEN({!NameNoEventEnthuse}) &gt; 80,
        LEFT({!NameNoEventEnthuse}, 77) + &quot;...&quot;,
        {!NameNoEventEnthuse}
    )
)</expression>
    </formulas>
    <formulas>
        <name>NameNoEventJustGiving</name>
        <dataType>String</dataType>
        <expression>&quot;JustGiving Unallocated - &quot;&amp;{!Name}</expression>
    </formulas>
    <formulas>
        <name>NameNoEventJustGivingTruncate</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!NameNoEventJustGiving}),
    NULL,
    IF(
        LEN({!NameNoEventJustGiving}) &gt; 80,
        LEFT({!NameNoEventJustGiving}, 77) + &quot;...&quot;,
        {!NameNoEventJustGiving}
    )
)</expression>
    </formulas>
    <interviewLabel>[MoveData] Donation: Campaign - Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[MoveData Extension] Donation: Campaign - Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Platform</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignNameValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>TeamKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
