force-app/main/default/flows/rta_Opportunity_Updated_Stage_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Opportunity flow designed to create new opportunities or gift commitments and payment schedules, based upon the final stage of an Opportunity.</description>
    <environments>Default</environments>
    <formulas>
        <name>CreateNewRelatedGiftCommitmentName</name>
        <dataType>String</dataType>
        <expression>&quot;$Record.Name - New Gift Commitment &quot;</expression>
    </formulas>
    <formulas>
        <name>CreateNewRelatedGiftTransactionName</name>
        <dataType>String</dataType>
        <expression>&quot;$Record.Name - New Gift Transaction&quot;</expression>
    </formulas>
    <formulas>
        <name>CreateNewRelatedOpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;$Record.Name - Future Review &quot;</expression>
    </formulas>
    <interviewLabel>AS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rta Opportunity - Updated Stage Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new opportunity, based upon the information within the triggering opportunity</description>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreateNewRelatedOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new task record to</description>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_New_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled Review</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
