force-app/main/default/flows/rta_Donor_Gift_Summary_Update_Account_Tier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Last_Year_FY_Amount</name>
        <label>Last Year FY Amount</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Account4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>£10k or under</defaultConnectorLabel>
        <rules>
            <name>X500k_or_over</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>£500k or over</label>
        </rules>
        <rules>
            <name>Between_500k_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account1</targetReference>
            </connector>
            <label>Between £500k-£100k</label>
        </rules>
        <rules>
            <name>Between_100k_50k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account2</targetReference>
            </connector>
            <label>Between £100k-£50k</label>
        </rules>
        <rules>
            <name>Between_50k_10k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sj_PreviousFiscalYearAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account3</targetReference>
            </connector>
            <label>Between £50k-£10k</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountTiering</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.sj_PreviousFiscalYearAmount__c} &gt;= 500000, &quot;Tier 0&quot;,
IF({!$Record.sj_PreviousFiscalYearAmount__c} &lt; 500000 || {!$Record.sj_PreviousFiscalYearAmount__c} &gt;= 100000, &quot;Tier 1&quot;, 
IF({!$Record.sj_PreviousFiscalYearAmount__c} &lt; 100000 || {!$Record.sj_PreviousFiscalYearAmount__c} &gt;= 50000, &quot;Tier 2&quot;,
IF({!$Record.sj_PreviousFiscalYearAmount__c} &lt; 50000 || {!$Record.sj_PreviousFiscalYearAmount__c} &gt;= 10000, &quot;Tier 3&quot;, 
&quot;Tier 4&quot;))))</expression>
    </formulas>
    <interviewLabel>rta Donor Gift Summary - Update Account Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rta Donor Gift Summary - Update Account Tier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Year_FY_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DonorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Tier__c</field>
            <value>
                <stringValue>Tier 0</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account1</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Tier__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Tier__c</field>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account3</name>
        <label>Update Account</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Tier__c</field>
            <value>
                <stringValue>Tier 3</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account4</name>
        <label>Update Account</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Tier__c</field>
            <value>
                <stringValue>Tier 4</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sj_PreviousFiscalYearAmount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DonorGiftSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
