force-app/main/default/flows/rta_Contact_Do_Not_Contact_Consent_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Each_to_Single_Text_Variable</name>
        <label>Assign Each to Single Text Variable</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varSingleConsentRecordText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Consent_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Text_to_Collection_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Text_to_Collection_Text</name>
        <label>Assign Single Text to Collection Text</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varCollectionConsentRecordsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleConsentRecordText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Text_Variable_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Text_Variable_NULL</name>
        <label>Single Text Variable = NULL</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varSingleConsentRecordText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Consent_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Related_Consent_Records_Found</name>
        <label>Any Related Consent Records Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactPointTypeConsentCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Consent_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to update all existing Consent records to &apos;Opt Out&apos; when the checkbox &apos;Do Not Contact&apos; = True.</description>
    <environments>Default</environments>
    <interviewLabel>rta Person Account - Do Not Contact Consent Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rta Person Account - Do Not Contact Consent Update</label>
    <loops>
        <name>Loop_Through_Consent_Records</name>
        <label>Loop Through Consent Records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>varContactPointTypeConsentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Each_to_Single_Text_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consent_Records_to_Opt_Out</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Consent_Records</name>
        <label>Get Related Consent Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Related_Consent_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContactPointTypeConsent</object>
        <outputReference>varContactPointTypeConsentCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrivacyConsentStatus</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consent_Records_to_Opt_Out</name>
        <label>Update Consent Records to Opt Out</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCollectionConsentRecordsText</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consent_Capture_Source__c</field>
            <value>
                <stringValue>Global Opt Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveFrom</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsentStatus</field>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </inputAssignments>
        <object>ContactPointTypeConsent</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Consent_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Contact__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollectionConsentRecordsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactPointTypeConsentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointTypeConsent</objectType>
    </variables>
    <variables>
        <name>varSingleConsentRecordText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
