force-app/main/default/flows/rtb_Contact_Assign_Age_Range.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Child_Date</name>
        <label>Set Child Date</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Child_Set_Date__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Age_Range__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetAgeRange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Child</name>
        <label>Is Child</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetAgeRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetAgeRange</name>
        <dataType>String</dataType>
        <expression>IF(YEAR(TODAY())-YEAR({!$Record.PersonBirthdate}) &gt;= 18, &quot;Adult&quot;, &quot;Child&quot;)</expression>
    </formulas>
    <interviewLabel>rtb Contact - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rtb Contact - Assign Age Range</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; NOT(ISNULL({!$Record.PersonBirthdate}))) ||
(ISCHANGED({!$Record.PersonBirthdate}) )</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
