force-app/main/default/flows/rtb_Gift_Transaction_Assign_Anon_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Anon</name>
        <label>Assign Anon</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Anonymous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GC.Anonymous__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gift_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Team</name>
        <label>Assign Team</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Gift_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.AcknowledgementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetAcknowledgement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Acknowledgement</name>
        <label>Account Acknowledgement</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_GC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Acknowledgements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Acknowledgements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Acknowledge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Commitment_present</name>
        <label>Gift Commitment present</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Assign_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Anon</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetAcknowledgement</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Account.Acknowledgements__c}, &quot;Acknowledge&quot;) , &quot;To be sent&quot;, &quot;Don&apos;t Send&quot;)</expression>
    </formulas>
    <interviewLabel>rtb Gift Transaction - Assign Anon on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rtb Gift Transaction - Assign Anon on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Acknowledgement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DonorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GC</name>
        <label>Get GC</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gift_Commitment_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftCommitmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftCommitment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>GiftTransaction</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
