force-app/main/default/flows/rtb_Gift_Commitment_Add_First_Transaction_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>rtb Gift Commitment - Add First Transaction Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rta Gift Commitment - Add First Transaction Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Gift_Commitment_Schedules</name>
        <label>Get All Gift Commitment Schedules</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Gift_Commitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GiftCommitmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftCommitmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftCommitmentSchedule</object>
        <sortField>First_Transaction_Day__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Gift_Commitment</name>
        <label>Update Gift Commitment</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GiftCommitmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>Get_All_Gift_Commitment_Schedules.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Transaction_Date__c</field>
            <value>
                <elementReference>Get_All_Gift_Commitment_Schedules.First_Transaction_Day__c</elementReference>
            </value>
        </inputAssignments>
        <object>GiftCommitment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>GiftCommitmentSchedule</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min_Delay</name>
            <connector>
                <targetReference>Get_All_Gift_Commitment_Schedules</targetReference>
            </connector>
            <label>1 Min Delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
