force-app/main/default/flows/sch_Account_Anonymise_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_Activities_within_the_last_50_months</name>
        <label>Any Activities within the last 50 months</label>
        <locationX>1114</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoAct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus50</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Volunteer_Date_in_the_last_50_months</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Members_Found</name>
        <label>Campaign Members Found</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Members.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_in_the_Last_50_Months</name>
        <label>Created in the Last 50 Months</label>
        <locationX>1636</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus50</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Donor_Giving_Summary</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Aid_Declaration_Found</name>
        <label>Gift Aid Declaration Found</label>
        <locationX>611</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoGA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Aid_Declaration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Marketing_Emails</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Volunteer_Date_in_the_last_50_months</name>
        <label>Last Volunteer Date in the last 50 months</label>
        <locationX>858</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoVol</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Regional_Centre_RC_volunteer_date__pc</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus50</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Regional_Centre_RC_volunteer_date__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Aid_Declaration</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Emails_Found</name>
        <label>Marketing Emails Found</label>
        <locationX>380</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoIER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Marketing_Emails.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Members</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transactions_Found</name>
        <label>Transactions Found</label>
        <locationX>1374</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoTran</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Donor_Giving_Summary.DonorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_Activities_within_the_last_50_months</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flow will move Person Accounts to system user and mark private so they cannot be accessed</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayMinus50</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, -50)</expression>
    </formulas>
    <interviewLabel>sch Account - Anonymise data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sch Account - Anonymise data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>182</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Members_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus50</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_Giving_Summary</name>
        <label>Get Donor Giving Summary</label>
        <locationX>1374</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transactions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DonorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastGiftDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus50</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DonorGiftSummary</object>
        <sortField>LastGiftDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Aid_Declaration</name>
        <label>Get Gift Aid Declaration</label>
        <locationX>611</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gift_Aid_Declaration_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gaid__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>gaid__Date_Made__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus50</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gaid__Gift_Aid_Declaration__c</object>
        <sortField>gaid__Date_Made__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marketing_Emails</name>
        <label>Get Marketing Emails</label>
        <locationX>380</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketing_Emails_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>et4ae5__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>et4ae5__Opened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>et4ae5__DateOpened__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus50</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>et4ae5__IndividualEmailResult__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1440</locationY>
        <inputAssignments>
            <field>Anonymize_Data__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Contact_Reason__pc</field>
            <value>
                <stringValue>FareShare Suppressed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Contact__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005J7000000Q9uD</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1510</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_in_the_Last_50_Months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Anonymize_Data__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-04</startDate>
            <startTime>23:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
