force-app/main/default/flows/Sf_Gift_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Gift_Commitment_New</name>
        <label>Assign Gift Commitment New</label>
        <locationX>985</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewRelatedGiftCommitmentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commit_Donor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.ScheduleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftCommit_Schedule_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.EffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewCommit_Effective_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.First_Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewCommit_First_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftCommitFinanceCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stewardship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Relevant_Finance_Code_GC.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gift_Commitment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gift_Commitment_Update</name>
        <label>Assign Gift Commitment Update</label>
        <locationX>501</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingDonorCommitName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftCommitStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftCommitDonor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.ScheduleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftCommitSchedule_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.EffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftCommitEffective_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.First_Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftCommitFirst_Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCommitmentAll.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Commitment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Gift_Commitment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gift_Transaction_New</name>
        <label>Assign Gift Transaction New</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransactionFinanceCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Donation_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransactionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Payment_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewRelatedGiftTransactionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.GiftType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Gift_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.TransactionDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Transaction_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewGiftTransaction_Transaction_Completed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Relevant_Finance_Code.Income_Stream__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Update_Gift_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gift_Transaction_Update</name>
        <label>Assign Gift Transaction Update</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.OriginalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTransaction_Original_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftNameText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Finance_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftFinanceCode.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Donor_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftDonor_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.PaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingGiftPayment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.DonorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Transaction.DonorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftTransactionAll.Income_Stream__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTransaction_Income_Stream</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Gift_Transaction.TransactionDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTransaction_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Gift_Transaction.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTransaction_Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_To_Single_Assignment</name>
        <label>Loop To Single Assignment</label>
        <locationX>941</locationX>
        <locationY>2504</locationY>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.TransactionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grab_All_Schedules.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.First_Transaction_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grab_All_Schedules.Estimated_Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.GiftCommitmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGiftCommitmentAll.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.TransactionPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Custom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CreateTransactions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleGiftCommitSchedule.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grab_All_Schedules.Estimated_Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_To_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_To_Collection_Assignment</name>
        <label>Single To Collection Assignment</label>
        <locationX>941</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>varGiftScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleGiftCommitSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_All_Schedules</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MultipleTransactionChoice</name>
        <choiceText>Recurring donation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commitment</stringValue>
        </value>
    </choices>
    <choices>
        <name>SingleTransactionChoice</name>
        <choiceText>One off donation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transaction</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Did_any_schedules_get_found</name>
        <label>Did any schedules get found</label>
        <locationX>985</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <targetReference>Manage_Gift_Commitment_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pipeline Found Go Create Some In FinDock</defaultConnectorLabel>
        <rules>
            <name>Schedules_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pipeline_Schedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_All_Schedules</targetReference>
            </connector>
            <label>Schedules Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Gift_Commitment_Exist</name>
        <label>Does Gift Commitment Exist</label>
        <locationX>677</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Get_Pipeline_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Gift Commitment</defaultConnectorLabel>
        <rules>
            <name>Gift_Commitment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Commitment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Commitment_Already_Exists_Screen</targetReference>
            </connector>
            <label>Gift Commitment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Gift_Transaction_Exist</name>
        <label>Does Gift Transaction Exist</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Transactions_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Gift Transaction</defaultConnectorLabel>
        <rules>
            <name>Gift_Transaction_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Transaction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Transaction_Already_Exists_Screen</targetReference>
            </connector>
            <label>Gift Transaction Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Proofing_End_Flow</name>
        <label>Future Proofing End Flow</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Transactions_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gift_Transaction_Always_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Transaction.MatchingEmployerTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Gift Transaction Always True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Proofing_End_Flow_Commitment</name>
        <label>Future Proofing End Flow Commitment</label>
        <locationX>369</locationX>
        <locationY>1856</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Commitment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gift_Commitment_Always_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gift_Commitment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Gift Commitment Always True</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Donation_Type</name>
        <label>What Is The Donation Type</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>transactionTypeSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Donation Type</defaultConnectorLabel>
        <rules>
            <name>Single_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Record.Donation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Transaction</targetReference>
            </connector>
            <label>Single Donation</label>
        </rules>
        <rules>
            <name>Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Record.Donation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Commitment</targetReference>
            </connector>
            <label>Recurring Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_The_Donation_Type_Has_Been_Chosen</name>
        <label>What Is The Donation Type Has Been Chosen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Choose_Single_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Type_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Gift_Transaction</targetReference>
            </connector>
            <label>Choose Single Donation</label>
        </rules>
        <rules>
            <name>Choose_Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Type_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gift_Commitment</targetReference>
            </connector>
            <label>Choose Recurring Donation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExistingGiftCommitIncomePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Income_Stream__c</picklistField>
        <picklistObject>GiftCommitment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingGiftCommitSchedulePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ScheduleType</picklistField>
        <picklistObject>GiftCommitment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingGiftCommitStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>GiftCommitment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftTransactionChannelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Channel__c</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftTransactionGiftTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GiftType</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftTransactionIncomeStreamPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Income_Stream__c</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftTransactionPaymentMethPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftTransactionStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IncomeStreamExistingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Income_Stream__c</picklistField>
        <picklistObject>GiftTransaction</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CreateNewRelatedGiftCommitmentName</name>
        <dataType>String</dataType>
        <expression>({!Get_Current_Record.Name}) &amp; &quot;- New Gift Commitment&quot;</expression>
    </formulas>
    <formulas>
        <name>CreateNewRelatedGiftTransactionName</name>
        <dataType>String</dataType>
        <expression>({!Get_Current_Record.Name}) &amp; &quot;- New Gift Transaction&quot;</expression>
    </formulas>
    <interviewLabel>Gift Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Creation Flow</label>
    <loops>
        <name>Grab_All_Schedules</name>
        <label>Grab All Schedules</label>
        <locationX>853</locationX>
        <locationY>2396</locationY>
        <collectionReference>varPipeScheduleCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_To_Single_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Gift_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Gift_Commitment</name>
        <label>Create Gift Commitment</label>
        <locationX>985</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>Did_any_schedules_get_found</targetReference>
        </connector>
        <inputReference>varGiftCommitmentAll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Gift_Schedules</name>
        <label>Create Gift Schedules</label>
        <locationX>853</locationX>
        <locationY>2804</locationY>
        <connector>
            <targetReference>Manage_Gift_Commitment_Standard</targetReference>
        </connector>
        <inputReference>varGiftScheduleCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Update_Gift_Transaction</name>
        <label>Create New Update Gift Transaction</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>varGiftTransactionAll</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGiftTransactionFinanceCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Commitment</name>
        <label>Get Gift Commitment</label>
        <locationX>677</locationX>
        <locationY>1532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Gift_Commitment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftCommitment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Transaction</name>
        <label>Get Gift Transaction</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Gift_Transaction_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pipeline_Schedules</name>
        <label>Get Pipeline Schedules</label>
        <locationX>985</locationX>
        <locationY>1748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Gift_Commitment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </filters>
        <object>Pipeline_Schedule__c</object>
        <outputReference>varPipeScheduleCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estimated_Payment_Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <sortField>Estimated_Payment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Finance_Code</name>
        <label>Get Relevant Finance Code</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Gift_Transaction_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewGiftTransactionFinanceCode.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Finance_Code_GC</name>
        <label>Get Relevant Finance Code GC</label>
        <locationX>985</locationX>
        <locationY>1964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Gift_Commitment_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewGiftCommitFinanceCode.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGiftTransactionFinanceCodes</name>
        <label>GetGiftTransactionFinanceCodes</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Is_The_Donation_Type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Codes__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Income_Stream__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Gift_Commitment</name>
        <label>Update Existing Gift Commitment</label>
        <locationX>501</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>Manage_Gift_Commitment_Standard</targetReference>
        </connector>
        <inputReference>varGiftCommitmentAll</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Transaction</name>
        <label>Update Existing Transaction</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>varGiftTransactionAll</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>677</locationX>
        <locationY>3188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stewardship</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Choose the type of transaction that needs to be created</description>
        <name>Create_Gift_Commitment_Screen</name>
        <label>Create Gift Commitment Screen</label>
        <locationX>985</locationX>
        <locationY>1856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Relevant_Finance_Code_GC</targetReference>
        </connector>
        <fields>
            <name>Commit_Donor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DonorId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftCommitment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Gift_Commitment.Description</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftCommit_Schedule_Type</name>
            <choiceReferences>ExistingGiftCommitSchedulePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Custom</stringValue>
            </defaultValue>
            <fieldText>Schedule Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftCommitFinanceCode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Finance_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finance Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftCommitment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewCommit_First_Transaction_Date</name>
            <dataType>Date</dataType>
            <fieldText>First Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewCommit_Effective_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Current_Record.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Effective Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose the type of transaction that needs to be created</description>
        <name>Create_Transactions_Screen</name>
        <label>Create Transactions Screen</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Relevant_Finance_Code</targetReference>
        </connector>
        <fields>
            <name>NewGiftTransactionDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Gift Transaction Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Donor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DonorId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftTransaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Donation_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Current_Record.Amount</elementReference>
            </defaultValue>
            <fieldText>Donation Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Payment_Status</name>
            <choiceReferences>GiftTransactionStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Unpaid</stringValue>
            </defaultValue>
            <fieldText>Payment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Payment_Method</name>
            <choiceReferences>GiftTransactionPaymentMethPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Gift_Type</name>
            <choiceReferences>GiftTransactionGiftTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Individual</stringValue>
            </defaultValue>
            <fieldText>Gift Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransactionChannel</name>
            <choiceReferences>GiftTransactionChannelPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Stewardship</stringValue>
            </defaultValue>
            <fieldText>Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransactionFinanceCode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finance Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftTransaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Finance_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Transaction_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Current_Record.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Transaction Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewGiftTransaction_Transaction_Completed_Date</name>
            <dataType>Date</dataType>
            <fieldText>Transaction Completed Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewGiftTransaction_Payment_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Paid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gift_Commitment_Already_Exists_Screen</name>
        <label>Gift Commitment Already Exists Screen</label>
        <locationX>369</locationX>
        <locationY>1748</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Future_Proofing_End_Flow_Commitment</targetReference>
        </connector>
        <fields>
            <name>AlreadyExistsDisplayCommitment</name>
            <fieldText>&lt;p&gt;A gift commitment already exists for this opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new commitment cannot be created from this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gift_Transaction_Already_Exists_Screen</name>
        <label>Gift Transaction Already Exists Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Future_Proofing_End_Flow</targetReference>
        </connector>
        <fields>
            <name>AlreadyExistsDisplay</name>
            <fieldText>&lt;p&gt;A gift transaction already exists for this opportunity. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new transaction cannot be created from this screen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose the type of transaction that needs to be created</description>
        <name>transactionTypeSelection</name>
        <label>transactionTypeSelection</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Is_The_Donation_Type_Has_Been_Chosen</targetReference>
        </connector>
        <fields>
            <name>Gift_Type_Radio</name>
            <choiceReferences>SingleTransactionChoice</choiceReferences>
            <choiceReferences>MultipleTransactionChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Update an existing commitment</description>
        <name>Update_Existing_Commitment_Screen</name>
        <label>Update Existing Commitment Screen</label>
        <locationX>501</locationX>
        <locationY>1964</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Gift_Commitment_Update</targetReference>
        </connector>
        <fields>
            <name>ExistingGiftCommit</name>
            <fieldText>&lt;p&gt;The following information already exists for your gift commitment, please update or edit the points accordingly &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitDonor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DonorId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftCommitment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingDonorCommitName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varExistingGiftCommitName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitStatus</name>
            <choiceReferences>ExistingGiftCommitStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Commitment.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitFinanceCode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Finance_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finance Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftCommitment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitSchedule_Type</name>
            <choiceReferences>ExistingGiftCommitSchedulePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Commitment.ScheduleType</elementReference>
            </defaultValue>
            <fieldText>Schedule Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitIncome_Stream</name>
            <choiceReferences>ExistingGiftCommitIncomePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Commitment.Income_Stream__c</elementReference>
            </defaultValue>
            <fieldText>Income Stream</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitEffective_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Commitment.EffectiveStartDate</elementReference>
            </defaultValue>
            <fieldText>Effective Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftCommitFirst_Transaction_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Commitment.First_Transaction_Date__c</elementReference>
            </defaultValue>
            <fieldText>First Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose the type of transaction that needs to be created</description>
        <name>Update_Existing_Transactions_Screen</name>
        <label>Update Existing Transactions Screen</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Gift_Transaction_Update</targetReference>
        </connector>
        <fields>
            <name>ExistingGiftTransactionDisplay</name>
            <fieldText>&lt;p&gt;The following Gift Transaction already exists for this Opportunity, please update or accept the details below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftNameText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftDonor_Comments</name>
            <defaultValue>
                <stringValue>{!Get_Gift_Transaction.Donor_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Donor Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingTransaction_Original_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.OriginalAmount</elementReference>
            </defaultValue>
            <fieldText>Donation Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingTransaction_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.TransactionDueDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingTransaction_Completion_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.TransactionDate</elementReference>
            </defaultValue>
            <fieldText>Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftStatus</name>
            <choiceReferences>GiftTransactionStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingTransaction_Income_Stream</name>
            <choiceReferences>IncomeStreamExistingPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.Income_Stream__c</elementReference>
            </defaultValue>
            <fieldText>Income Stream</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftPayment_Method</name>
            <choiceReferences>GiftTransactionPaymentMethPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Gift_Transaction.PaymentMethod</elementReference>
            </defaultValue>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingGiftFinanceCode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Finance_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finance Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>GiftTransaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Gift_Transaction.Finance_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Manage_Gift_Commitment_Standard</name>
        <label>Manage Gift Commitment Standard</label>
        <locationX>677</locationX>
        <locationY>3080</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowName>frops_flow__ManageGiftCmtSchedule</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varGiftCommitmentAll.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varCustomSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </variables>
    <variables>
        <name>varExistingFinanceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Gift_Transaction.Finance_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingGiftAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Gift_Transaction.OriginalAmount</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingGiftComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Gift_Transaction.Donor_Comments__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingGiftCommitEffectiveStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Gift_Commitment.EffectiveStartDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingGiftCommitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Gift_Commitment.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingGiftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Gift_Transaction.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>varGiftCommitmentAll</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitment</objectType>
    </variables>
    <variables>
        <name>varGiftScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitmentSchedule</objectType>
    </variables>
    <variables>
        <name>varGiftTransactionAll</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>VarIncomeStream</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collects all pipeline schedules</description>
        <name>varPipeScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pipeline_Schedule__c</objectType>
    </variables>
    <variables>
        <name>varRelatedGiftTransactionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftTransaction</objectType>
    </variables>
    <variables>
        <name>varSingleGiftCommitSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GiftCommitmentSchedule</objectType>
    </variables>
</Flow>
