force-app/main/default/flows/sj_Data_Cloud_Debug_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_JSON_Values</name>
        <label>Extract JSON Values</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Debug_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>text_CurrentPayloadValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;UnifiedIndividual__dlm_ssot__FirstName__c&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Payload</name>
        <label>Assign Payload</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>text_CurrentPayloadValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayloadCurrentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_James_Username</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>varForm_EventBlock</name>
        <dataType>String</dataType>
        <expression>&quot;Event Prompt&quot; + &quot;&quot; +TEXT({!$Record.EventPrompt}) + &quot; , Current Value; &quot; + {!$Record.PayloadCurrentValue} + &quot;,  Previous Value; &quot; +  {!$Record.PayloadPrevValue} + &quot;, Trigger Entity; &quot; + {!$Record.TriggerEntity} + &quot;, Trace ID;  &quot; + {!$Record.TraceIdValue} + &quot;, Action ID: &quot; + {!$Record.ActionDeveloperName} + &quot;, Meta Data Info; &quot; + {!$Record.PayloadMetadata}</expression>
    </formulas>
    <interviewLabel>Data Cloud Debug Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud Debug Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Debug_Task</name>
        <label>Create Debug Task</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varForm_EventBlock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting on someone else</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Debug Task</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_James_Username</name>
        <label>Get James Username</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_JSON_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>jamesh@solutionjunkies.co.uk</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Payload</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>DataObjectDataChgEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>text_CurrentPayloadValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
