force-app/main/default/flows/TriggerDonorGiftSummaryCalculationDefnition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TriggerDonorGIftSummaryCalculationDefinition</name>
        <label>Trigger Donor GIft Summary Calculation Definition</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>FareshareDonorGiftCalculationDefinition</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>fx_CURRENT_CALENDAR_YEAR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CURRENT_FISCAL_YEAR_END_DATE</name>
            <value>
                <elementReference>var_CURRENT_FISCAL_YEAR_END_DATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CURRENT_FISCAL_YEAR_START_DATE</name>
            <value>
                <elementReference>var_CURRENT_FISCAL_YEAR_START_DATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_365_DAYS_START_DATE</name>
            <value>
                <elementReference>fx_LAST_365_DAYS_START_DATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>fx_LAST_CALENDAR_YEAR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>fx_LAST_TWO_CALENDAR_YEAR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PREVIOUS_FISCAL_YEAR_END_DATE</name>
            <value>
                <elementReference>fx_PREVIOUS_FISCAL_YEAR_END_DATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PREVIOUS_FISCAL_YEAR_START_DATE</name>
            <value>
                <elementReference>fx_PREVIOUS_FISCAL_YEAR_START_DATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TWO_FISCAL_YEARS_AGO_START_DATE</name>
            <value>
                <elementReference>fx_TWO_FISCAL_YEARS_AGO_START_DATE</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FareshareDonorGiftCalculationDefinition</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetFiscalYearDates</name>
        <label>Set Fiscal Year Dates</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_CURRENT_FISCAL_YEAR_START_DATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFiscalYearSettting.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CURRENT_FISCAL_YEAR_END_DATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFiscalYearSettting.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TriggerDonorGIftSummaryCalculationDefinition</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fx_CURRENT_CALENDAR_YEAR</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),01,01)</expression>
    </formulas>
    <formulas>
        <name>fx_LAST_365_DAYS_START_DATE</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR(TODAY()) - 1),MONTH(TODAY()),DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fx_LAST_CALENDAR_YEAR</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR(TODAY()) - 1),01,01)</expression>
    </formulas>
    <formulas>
        <name>fx_LAST_TWO_CALENDAR_YEAR</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR(TODAY()) - 2),01,01)</expression>
    </formulas>
    <formulas>
        <name>fx_PREVIOUS_FISCAL_YEAR_END_DATE</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR({!var_CURRENT_FISCAL_YEAR_END_DATE}) - 1),MONTH({!var_CURRENT_FISCAL_YEAR_END_DATE}),DAY({!var_CURRENT_FISCAL_YEAR_END_DATE}))</expression>
    </formulas>
    <formulas>
        <name>fx_PREVIOUS_FISCAL_YEAR_START_DATE</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR({!var_CURRENT_FISCAL_YEAR_START_DATE}) - 1),MONTH({!var_CURRENT_FISCAL_YEAR_START_DATE}),DAY({!var_CURRENT_FISCAL_YEAR_START_DATE}))</expression>
    </formulas>
    <formulas>
        <name>fx_TWO_FISCAL_YEARS_AGO_START_DATE</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR({!var_CURRENT_FISCAL_YEAR_END_DATE}) - 2),MONTH({!var_CURRENT_FISCAL_YEAR_END_DATE}),DAY({!var_CURRENT_FISCAL_YEAR_END_DATE}))</expression>
    </formulas>
    <interviewLabel>Trigger Donor Gift Summary Calculation Defnition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Donor Gift Summary Calculation Defnition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetFiscalYearSettting</name>
        <label>Get Fiscal Year Setting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetFiscalYearDates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Period</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFiscalYearSettting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CURRENT_FISCAL_YEAR_END_DATE</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CURRENT_FISCAL_YEAR_START_DATE</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
